html {
  height: 100%;
  width: 100%;
}

@-ms-viewport {
  width: 1920px;
  height: 1080px;
}
@viewport {
  width: 1920px;
  height: 1080px;
}

body {
  min-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.start-drag {
  z-index: 11;
}
