.spritesheet.bg-bg-bebedouro {
  width: 1920px;
  height: 1080px;
  background-position: -1px -1px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.bg-bg-certificate {
  width: 1920px;
  height: 1080px;
  background-position: -1px -1083px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.bg-bg-chao-sujo {
  width: 1920px;
  height: 1080px;
  background-position: -1px -2165px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.bg-bg-congrats {
  width: 1920px;
  height: 1080px;
  background-position: -1923px -1px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.bg-cenarioalimentacao {
  width: 1920px;
  height: 1080px;
  background-position: -1923px -1083px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.box-box-all-badges-certificate {
  width: 753px;
  height: 512px;
  background-position: -2975px -3099px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.box-textarea-box {
  width: 971px;
  height: 337px;
  background-position: -1px -3496px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.btn-btn-action-blue {
  width: 500px;
  height: 181px;
  background-position: -3248px -2773px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.btn-btn-start {
  width: 452px;
  height: 129px;
  background-position: -2975px -3759px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.economia-monstrinhos_bt_addmoeda_saude {
  width: 224px;
  height: 134px;
  background-position: -3655px -2956px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.economia-planta_plantacasa_eco {
  width: 1323px;
  height: 932px;
  background-position: -1923px -2165px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.educacao-escolad_bt_informatica {
  width: 200px;
  height: 126px;
  background-position: -3429px -3759px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.educacao-escolaf_icon_onibus {
  width: 169px;
  height: 96px;
  background-position: -1738px -3797px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.governo-campinho_crianca2_vermelha {
  width: 115px;
  height: 277px;
  background-position: -1753px -3247px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.governo-campinho_crianca3_amarela {
  width: 115px;
  height: 269px;
  background-position: -1753px -3526px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.governo-campinho_crianca3_vermelha {
  width: 163px;
  height: 278px;
  background-position: -3730px -3092px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.inovacao-bebedouro_bebedourocenario {
  width: 1920px;
  height: 1080px;
  background-position: -1px -1px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.inovacao-carrinho_carro {
  width: 717px;
  height: 474px;
  background-position: -1034px -3247px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.inovacao-carrinho_pista_placeholder {
  width: 1050px;
  height: 782px;
  background-position: -1923px -3099px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.inovacao-foguete_meiogarrafa {
  width: 145px;
  height: 172px;
  background-position: -3750px -2773px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.inovacao-foguete_place {
  width: 145px;
  height: 217px;
  background-position: -3730px -3372px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.lazer-album1_figurascostas {
  width: 241px;
  height: 256px;
  background-position: -3634px -3613px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.lazer-erros_contador_erros {
  width: 484px;
  height: 159px;
  background-position: -974px -3723px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.meio-sustent_pia {
  width: 657px;
  height: 144px;
  background-position: -2975px -3613px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.quiz-quiz_box-single-badge-full {
  width: 634px;
  height: 606px;
  background-position: -3248px -2165px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.quiz-quiz_robot-balloon {
  width: 1031px;
  height: 247px;
  background-position: -1px -3247px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.saude-parquinho_gangorra {
  width: 405px;
  height: 122px;
  background-position: -3248px -2956px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
.spritesheet.saude-prato_cenoura {
  width: 276px;
  height: 162px;
  background-position: -1460px -3723px;
  background-image: url('../images/spritesheet/sprite-4.png');
}
