.spritesheet.bg-bg-sete-erros {
  width: 1921px;
  height: 1081px;
  background-position: -1px -1px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.bg-bg_album_ultpagina {
  width: 1921px;
  height: 1081px;
  background-position: -1px -1084px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.bg-bg_fundo_economia1 {
  width: 1921px;
  height: 1081px;
  background-position: -1px -2167px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.bg-bg_pagina1e2 {
  width: 1921px;
  height: 1081px;
  background-position: -1924px -1px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.bg-bg_pagina3e4 {
  width: 1921px;
  height: 1081px;
  background-position: -1924px -1084px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.bg-bg_parquinho_saude {
  width: 1921px;
  height: 1081px;
  background-position: -1924px -2167px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.box-cxainserir_txt_linhas {
  width: 971px;
  height: 337px;
  background-position: -2819px -3250px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.box-input-box {
  width: 971px;
  height: 139px;
  background-position: -2688px -3654px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.educacao-escolad_icon_ciencias {
  width: 83px;
  height: 150px;
  background-position: -3792px -3250px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.educacao-sala_carteirassala {
  width: 1200px;
  height: 402px;
  background-position: -1617px -3250px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.governo-campinho_campinho {
  width: 1614px;
  height: 585px;
  background-position: -1px -3250px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.governo-ong_tomate {
  width: 99px;
  height: 63px;
  background-position: -2819px -3589px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.inovacao-bico1 {
  width: 209px;
  height: 181px;
  background-position: -3661px -3589px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.inovacao-carrinho_cxapecas_up {
  width: 1069px;
  height: 225px;
  background-position: -1617px -3654px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.inovacao-carrinho_led_foracarro {
  width: 80px;
  height: 150px;
  background-position: -3792px -3402px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.meio-sustent_chiclete {
  width: 70px;
  height: 39px;
  background-position: -1px -3837px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.meio-sustent_pointer_luva {
  width: 75px;
  height: 49px;
  background-position: -2920px -3589px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.saude-parquinho_cxastatus_barrasaude {
  width: 282px;
  height: 89px;
  background-position: -2999px -3795px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.saude-prato_feijao {
  width: 309px;
  height: 78px;
  background-position: -2688px -3795px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.saude-prato_naosaudavel {
  width: 282px;
  height: 89px;
  background-position: -3283px -3795px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
.spritesheet.saude-prato_saudavel {
  width: 282px;
  height: 81px;
  background-position: -3567px -3795px;
  background-image: url('../images/spritesheet/sprite-1.png');
}
