.spritesheet.bg-bebedouro {
  background-image: url('../images/spritesheet.png');
  background-position: -5778px -1086px;
  width: 1920px;
  height: 1080px;
}

.spritesheet.bg-cenario-sala {
  background-image: url('../images/spritesheet.png');
  background-position: -0px -0px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.bg-chao-sujo {
  background-image: url('../images/spritesheet.png');
  background-position: -5778px -2171px;
  width: 1920px;
  height: 1080px;
}

.spritesheet.bg-cozinha {
  background-image: url('../images/spritesheet.png');
  background-position: -1926px -0px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.bg-home {
  background-image: url('../images/spritesheet.png');
  background-position: -5778px -0px;
  width: 1920px;
  height: 1081px;
}

.spritesheet.bg-horta {
  background-image: url('../images/spritesheet.png');
  background-position: -0px -1086px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.bg-mapa-ceara {
  background-image: url('../images/spritesheet.png');
  background-position: -1926px -1086px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.bg-sete-erros {
  background-image: url('../images/spritesheet.png');
  background-position: -0px -2172px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.cenario_inovacao2 {
  background-image: url('../images/spritesheet.png');
  background-position: -1926px -2172px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.cenario_mapaspeca {
  background-image: url('../images/spritesheet.png');
  background-position: -3852px -0px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.cenario1_governo {
  background-image: url('../images/spritesheet.png');
  background-position: -3852px -1086px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.cenarioalimentacao {
  background-image: url('../images/spritesheet.png');
  background-position: -5778px -3256px;
  width: 1920px;
  height: 1080px;
}

.spritesheet.cenariocarrinho_inovacao {
  background-image: url('../images/spritesheet.png');
  background-position: -3852px -2172px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.cenarioescola_dentro {
  background-image: url('../images/spritesheet.png');
  background-position: -0px -3258px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.cenarioescola_fora {
  background-image: url('../images/spritesheet.png');
  background-position: -1926px -3258px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.cenariogoverno_ong {
  background-image: url('../images/spritesheet.png');
  background-position: -3852px -3258px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.cenariogoverno_radio {
  background-image: url('../images/spritesheet.png');
  background-position: -0px -4344px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.cenariogoverno_radio3 {
  background-image: url('../images/spritesheet.png');
  background-position: -1926px -4344px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.cenarioprefeitura_governo {
  background-image: url('../images/spritesheet.png');
  background-position: -3852px -4344px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.balloon-comment {
  background-image: url('../images/spritesheet.png');
  background-position: -0px -5430px;
  width: 958px;
  height: 393px;
}

.spritesheet.box-comment {
  background-image: url('../images/spritesheet.png');
  background-position: -5778px -4341px;
  width: 1713px;
  height: 836px;
}

.spritesheet.box-regions-left {
  background-image: url('../images/spritesheet.png');
  background-position: -2882px -5574px;
  width: 392px;
  height: 160px;
}

.spritesheet.box-robot-help {
  background-image: url('../images/spritesheet.png');
  background-position: -963px -5430px;
  width: 904px;
  height: 376px;
}

.spritesheet.input-box {
  background-image: url('../images/spritesheet.png');
  background-position: -1872px -5430px;
  width: 971px;
  height: 139px;
}

.spritesheet.robot-balloon {
  background-image: url('../images/spritesheet.png');
  background-position: -5778px -5182px;
  width: 1095px;
  height: 226px;
}

.spritesheet.robot-mini-blue {
  background-image: url('../images/spritesheet.png');
  background-position: -0px -6582px;
  width: 204px;
  height: 253px;
}

.spritesheet.btn-action-blue {
  background-image: url('../images/spritesheet.png');
  background-position: -6878px -5182px;
  width: 500px;
  height: 181px;
}

.spritesheet.btn-action-orange {
  background-image: url('../images/spritesheet.png');
  background-position: -1872px -5574px;
  width: 500px;
  height: 181px;
}

.spritesheet.btn-action-white {
  background-image: url('../images/spritesheet.png');
  background-position: -2377px -5574px;
  width: 500px;
  height: 181px;
}

.spritesheet.btn-btinfo_mouseover {
  background-image: url('../images/spritesheet.png');
  background-position: -1746px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-btmusic_mouseover {
  background-image: url('../images/spritesheet.png');
  background-position: -1951px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-btmusicoff_ativo {
  background-image: url('../images/spritesheet.png');
  background-position: -2156px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-btrepetirinativo_ {
  background-image: url('../images/spritesheet.png');
  background-position: -2361px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-op-no {
  background-image: url('../images/spritesheet.png');
  background-position: -3527px -5430px;
  width: 217px;
  height: 123px;
}

.spritesheet.btn-op-yes {
  background-image: url('../images/spritesheet.png');
  background-position: -3305px -5430px;
  width: 217px;
  height: 124px;
}

.spritesheet.btn-start {
  background-image: url('../images/spritesheet.png');
  background-position: -2848px -5430px;
  width: 452px;
  height: 129px;
}

.spritesheet.btn-toggle-arrow-p {
  background-image: url('../images/spritesheet.png');
  background-position: -2566px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-arrow {
  background-image: url('../images/spritesheet.png');
  background-position: -2771px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-close {
  background-image: url('../images/spritesheet.png');
  background-position: -2976px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-download {
  background-image: url('../images/spritesheet.png');
  background-position: -7496px -4826px;
  width: 200px;
  height: 201px;
}

.spritesheet.btn-toggle-home {
  background-image: url('../images/spritesheet.png');
  background-position: -3181px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-info {
  background-image: url('../images/spritesheet.png');
  background-position: -3386px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-mute {
  background-image: url('../images/spritesheet.png');
  background-position: -3591px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-next {
  background-image: url('../images/spritesheet.png');
  background-position: -3796px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-ok {
  background-image: url('../images/spritesheet.png');
  background-position: -4001px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-pause {
  background-image: url('../images/spritesheet.png');
  background-position: -4206px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-play {
  background-image: url('../images/spritesheet.png');
  background-position: -4411px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-print {
  background-image: url('../images/spritesheet.png');
  background-position: -1541px -5828px;
  width: 200px;
  height: 201px;
}

.spritesheet.btn-toggle-repeat {
  background-image: url('../images/spritesheet.png');
  background-position: -4616px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-sound {
  background-image: url('../images/spritesheet.png');
  background-position: -4821px -5828px;
  width: 200px;
  height: 200px;
}

.spritesheet.logo-complete {
  background-image: url('../images/spritesheet.png');
  background-position: -0px -5828px;
  width: 868px;
  height: 430px;
}

.spritesheet.pc_cariri {
  background-image: url('../images/spritesheet.png');
  background-position: -1207px -5828px;
  width: 329px;
  height: 208px;
}

.spritesheet.pc_cariri2 {
  background-image: url('../images/spritesheet.png');
  background-position: -873px -5828px;
  width: 329px;
  height: 209px;
}

.spritesheet.pc_centro_sul {
  background-image: url('../images/spritesheet.png');
  background-position: -5026px -5828px;
  width: 237px;
  height: 167px;
}

.spritesheet.pc_grande_fortaleza {
  background-image: url('../images/spritesheet.png');
  background-position: -1281px -6042px;
  width: 180px;
  height: 178px;
}

.spritesheet.pc_litoral_leste {
  background-image: url('../images/spritesheet.png');
  background-position: -873px -6042px;
  width: 200px;
  height: 184px;
}

.spritesheet.pc_litoral_leste2 {
  background-image: url('../images/spritesheet.png');
  background-position: -1078px -6042px;
  width: 198px;
  height: 182px;
}

.spritesheet.pc_litoral_norte {
  background-image: url('../images/spritesheet.png');
  background-position: -7383px -5182px;
  width: 275px;
  height: 174px;
}

.spritesheet.pc_litoral_oeste {
  background-image: url('../images/spritesheet.png');
  background-position: -1166px -6263px;
  width: 175px;
  height: 207px;
}

.spritesheet.pc_litoral_oeste2 {
  background-image: url('../images/spritesheet.png');
  background-position: -1346px -6263px;
  width: 172px;
  height: 205px;
}

.spritesheet.pc_macico_de_baturite {
  background-image: url('../images/spritesheet.png');
  background-position: -7496px -5032px;
  width: 128px;
  height: 109px;
}

.spritesheet.pc_macico_de_baturite2 {
  background-image: url('../images/spritesheet.png');
  background-position: -3749px -5430px;
  width: 126px;
  height: 107px;
}

.spritesheet.pc_serra_da_ibiapaba {
  background-image: url('../images/spritesheet.png');
  background-position: -0px -6840px;
  width: 145px;
  height: 209px;
}

.spritesheet.pc_serra_da_ibiapaba2 {
  background-image: url('../images/spritesheet.png');
  background-position: -209px -6582px;
  width: 146px;
  height: 208px;
}

.spritesheet.pc_sertao_central {
  background-image: url('../images/spritesheet.png');
  background-position: -656px -6263px;
  width: 251px;
  height: 247px;
}

.spritesheet.pc_sertao_central2 {
  background-image: url('../images/spritesheet.png');
  background-position: -912px -6263px;
  width: 249px;
  height: 242px;
}

.spritesheet.pc_sertao_de_caninde {
  background-image: url('../images/spritesheet.png');
  background-position: -7496px -4341px;
  width: 187px;
  height: 239px;
}

.spritesheet.pc_sertao_de_sobral {
  background-image: url('../images/spritesheet.png');
  background-position: -1523px -6263px;
  width: 179px;
  height: 197px;
}

.spritesheet.pc_sertao_dos_crateus {
  background-image: url('../images/spritesheet.png');
  background-position: -0px -6263px;
  width: 216px;
  height: 314px;
}

.spritesheet.pc_sertao_dos_crateus2 {
  background-image: url('../images/spritesheet.png');
  background-position: -221px -6263px;
  width: 216px;
  height: 311px;
}

.spritesheet.pc_sertao_dos_inhamuns {
  background-image: url('../images/spritesheet.png');
  background-position: -7496px -4585px;
  width: 180px;
  height: 236px;
}

.spritesheet.pc_vale_do_jaguaribe {
  background-image: url('../images/spritesheet.png');
  background-position: -442px -6263px;
  width: 209px;
  height: 303px;
}

