.spritesheet.bg-bg-cenario-sala {
  width: 1921px;
  height: 1081px;
  background-position: -1px -1100px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.bg-bg-cozinha {
  width: 1921px;
  height: 1081px;
  background-position: -1924px -1100px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.bg-bg-horta {
  width: 1921px;
  height: 1081px;
  background-position: -1px -2554px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.bg-bg-mapa-ceara {
  width: 1921px;
  height: 1081px;
  background-position: -1924px -2654px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.box-robot-balloon {
  width: 1095px;
  height: 226px;
  background-position: -1px -3637px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.economia-planta_moeda_eco {
  width: 58px;
  height: 54px;
  background-position: -3833px -2488px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.economia-planta_rectmoeda_maior {
  width: 901px;
  height: 71px;
  background-position: -1924px -2554px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.economia-planta_rectmoeda_menor {
  width: 182px;
  height: 70px;
  background-position: -2981px -3828px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.educacao-barradeitens {
  width: 1370px;
  height: 210px;
  background-position: -2096px -871px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.educacao-bt_add {
  width: 53px;
  height: 53px;
  background-position: -3833px -2599px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.educacao-bt_check {
  width: 53px;
  height: 53px;
  background-position: -3842px -3737px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.educacao-bt_subtract {
  width: 53px;
  height: 53px;
  background-position: -3842px -3792px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.educacao-caixafeedback {
  width: 1552px;
  height: 868px;
  background-position: -2096px -1px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.educacao-escolaf_arvores1 {
  width: 216px;
  height: 395px;
  background-position: -3650px -411px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.educacao-escolaf_parquinho {
  width: 420px;
  height: 221px;
  background-position: -3468px -871px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.educacao-sala_icon_lapis {
  width: 86px;
  height: 153px;
  background-position: -1821px -3637px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.educacao-sala_luzsala {
  width: 2093px;
  height: 1097px;
  background-position: -1px -1px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.governo-campinho_crianca1_amarela {
  width: 115px;
  height: 290px;
  background-position: -3781px -1px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.governo-ong_banana {
  width: 113px;
  height: 59px;
  background-position: -3615px -3828px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.inovacao-bebedouro_torneira {
  width: 36px;
  height: 57px;
  background-position: -3847px -1261px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.inovacao-carrinho_cxadescricao_down {
  width: 1070px;
  height: 157px;
  background-position: -1909px -3737px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.inovacao-carrinho_sensorprox_foracarro {
  width: 171px;
  height: 66px;
  background-position: -3165px -3828px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.lazer-album2_check {
  width: 31px;
  height: 53px;
  background-position: -3847px -1320px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.lazer-erros_marcadorerro {
  width: 44px;
  height: 64px;
  background-position: -3847px -1195px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.meio-sustent_bacia {
  width: 369px;
  height: 85px;
  background-position: -2827px -2554px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.meio-sustent_bacia1 {
  width: 369px;
  height: 85px;
  background-position: -3198px -2554px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.meio-sustent_buraco {
  width: 145px;
  height: 53px;
  background-position: -3338px -3828px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.meio-sustent_jornal1 {
  width: 95px;
  height: 48px;
  background-position: -3677px -2600px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.meio-sustent_jornal2 {
  width: 106px;
  height: 27px;
  background-position: -3569px -2600px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.meio-sustent_lixeirametal_aberta {
  width: 256px;
  height: 415px;
  background-position: -3575px -2183px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.meio-sustent_maca {
  width: 60px;
  height: 90px;
  background-position: -3833px -2396px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.meio-sustent_pote {
  width: 64px;
  height: 94px;
  background-position: -3833px -2300px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.meio-sustent_refrigerante {
  width: 82px;
  height: 106px;
  background-position: -1821px -3792px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.quiz-quiz_up-arrow {
  width: 64px;
  height: 53px;
  background-position: -3833px -2544px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.saude-parquinho_barrasaude {
  width: 859px;
  height: 89px;
  background-position: -2981px -3737px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.saude-parquinho_campinho {
  width: 721px;
  height: 262px;
  background-position: -1098px -3637px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.saude-parquinho_marcadorbarra_saude {
  width: 31px;
  height: 99px;
  background-position: -3847px -1094px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.saude-prato_bananaprato {
  width: 128px;
  height: 61px;
  background-position: -3485px -3828px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.saude-prato_barra {
  width: 3572px;
  height: 369px;
  background-position: -1px -2183px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.saude-prato_biloto {
  width: 129px;
  height: 408px;
  background-position: -3650px -1px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.saude-prato_bombomprato {
  width: 101px;
  height: 64px;
  background-position: -3730px -3828px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.saude-prato_feijaoprato {
  width: 240px;
  height: 60px;
  background-position: -3650px -808px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.saude-prato_laranja {
  width: 115px;
  height: 112px;
  background-position: -3781px -293px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
.spritesheet.saude-prato_pirulitoprato {
  width: 61px;
  height: 115px;
  background-position: -3833px -2183px;
  background-image: url('../images/spritesheet/sprite-0.png');
}
