// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bg-bebedouro-name: 'bg-bebedouro';
$bg-bebedouro-x: 5778px;
$bg-bebedouro-y: 2172px;
$bg-bebedouro-offset-x: -5778px;
$bg-bebedouro-offset-y: -2172px;
$bg-bebedouro-width: 1920px;
$bg-bebedouro-height: 1080px;
$bg-bebedouro-total-width: 7698px;
$bg-bebedouro-total-height: 6843px;
$bg-bebedouro-image: './src/assets/images/sprites/sprite.png';
$bg-bebedouro: (5778px, 2172px, -5778px, -2172px, 1920px, 1080px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'bg-bebedouro', );
$bg-cenario-sala-name: 'bg-cenario-sala';
$bg-cenario-sala-x: 0px;
$bg-cenario-sala-y: 0px;
$bg-cenario-sala-offset-x: 0px;
$bg-cenario-sala-offset-y: 0px;
$bg-cenario-sala-width: 1921px;
$bg-cenario-sala-height: 1081px;
$bg-cenario-sala-total-width: 7698px;
$bg-cenario-sala-total-height: 6843px;
$bg-cenario-sala-image: './src/assets/images/sprites/sprite.png';
$bg-cenario-sala: (0px, 0px, 0px, 0px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'bg-cenario-sala', );
$bg-chao-sujo-name: 'bg-chao-sujo';
$bg-chao-sujo-x: 5778px;
$bg-chao-sujo-y: 3257px;
$bg-chao-sujo-offset-x: -5778px;
$bg-chao-sujo-offset-y: -3257px;
$bg-chao-sujo-width: 1920px;
$bg-chao-sujo-height: 1080px;
$bg-chao-sujo-total-width: 7698px;
$bg-chao-sujo-total-height: 6843px;
$bg-chao-sujo-image: './src/assets/images/sprites/sprite.png';
$bg-chao-sujo: (5778px, 3257px, -5778px, -3257px, 1920px, 1080px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'bg-chao-sujo', );
$bg-cozinha-name: 'bg-cozinha';
$bg-cozinha-x: 1926px;
$bg-cozinha-y: 0px;
$bg-cozinha-offset-x: -1926px;
$bg-cozinha-offset-y: 0px;
$bg-cozinha-width: 1921px;
$bg-cozinha-height: 1081px;
$bg-cozinha-total-width: 7698px;
$bg-cozinha-total-height: 6843px;
$bg-cozinha-image: './src/assets/images/sprites/sprite.png';
$bg-cozinha: (1926px, 0px, -1926px, 0px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'bg-cozinha', );
$bg-home-name: 'bg-home';
$bg-home-x: 5778px;
$bg-home-y: 0px;
$bg-home-offset-x: -5778px;
$bg-home-offset-y: 0px;
$bg-home-width: 1920px;
$bg-home-height: 1081px;
$bg-home-total-width: 7698px;
$bg-home-total-height: 6843px;
$bg-home-image: './src/assets/images/sprites/sprite.png';
$bg-home: (5778px, 0px, -5778px, 0px, 1920px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'bg-home', );
$bg-horta-name: 'bg-horta';
$bg-horta-x: 0px;
$bg-horta-y: 1086px;
$bg-horta-offset-x: 0px;
$bg-horta-offset-y: -1086px;
$bg-horta-width: 1921px;
$bg-horta-height: 1081px;
$bg-horta-total-width: 7698px;
$bg-horta-total-height: 6843px;
$bg-horta-image: './src/assets/images/sprites/sprite.png';
$bg-horta: (0px, 1086px, 0px, -1086px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'bg-horta', );
$bg-mapa-ceara-name: 'bg-mapa-ceara';
$bg-mapa-ceara-x: 1926px;
$bg-mapa-ceara-y: 1086px;
$bg-mapa-ceara-offset-x: -1926px;
$bg-mapa-ceara-offset-y: -1086px;
$bg-mapa-ceara-width: 1921px;
$bg-mapa-ceara-height: 1081px;
$bg-mapa-ceara-total-width: 7698px;
$bg-mapa-ceara-total-height: 6843px;
$bg-mapa-ceara-image: './src/assets/images/sprites/sprite.png';
$bg-mapa-ceara: (1926px, 1086px, -1926px, -1086px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'bg-mapa-ceara', );
$bg-menu-name: 'bg-menu';
$bg-menu-x: 5778px;
$bg-menu-y: 1086px;
$bg-menu-offset-x: -5778px;
$bg-menu-offset-y: -1086px;
$bg-menu-width: 1920px;
$bg-menu-height: 1081px;
$bg-menu-total-width: 7698px;
$bg-menu-total-height: 6843px;
$bg-menu-image: './src/assets/images/sprites/sprite.png';
$bg-menu: (5778px, 1086px, -5778px, -1086px, 1920px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'bg-menu', );
$bg-sete-erros-name: 'bg-sete-erros';
$bg-sete-erros-x: 0px;
$bg-sete-erros-y: 2172px;
$bg-sete-erros-offset-x: 0px;
$bg-sete-erros-offset-y: -2172px;
$bg-sete-erros-width: 1921px;
$bg-sete-erros-height: 1081px;
$bg-sete-erros-total-width: 7698px;
$bg-sete-erros-total-height: 6843px;
$bg-sete-erros-image: './src/assets/images/sprites/sprite.png';
$bg-sete-erros: (0px, 2172px, 0px, -2172px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'bg-sete-erros', );
$cenario-inovacao2-name: 'cenario_inovacao2';
$cenario-inovacao2-x: 1926px;
$cenario-inovacao2-y: 2172px;
$cenario-inovacao2-offset-x: -1926px;
$cenario-inovacao2-offset-y: -2172px;
$cenario-inovacao2-width: 1921px;
$cenario-inovacao2-height: 1081px;
$cenario-inovacao2-total-width: 7698px;
$cenario-inovacao2-total-height: 6843px;
$cenario-inovacao2-image: './src/assets/images/sprites/sprite.png';
$cenario-inovacao2: (1926px, 2172px, -1926px, -2172px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'cenario_inovacao2', );
$cenario-mapaspeca-name: 'cenario_mapaspeca';
$cenario-mapaspeca-x: 3852px;
$cenario-mapaspeca-y: 0px;
$cenario-mapaspeca-offset-x: -3852px;
$cenario-mapaspeca-offset-y: 0px;
$cenario-mapaspeca-width: 1921px;
$cenario-mapaspeca-height: 1081px;
$cenario-mapaspeca-total-width: 7698px;
$cenario-mapaspeca-total-height: 6843px;
$cenario-mapaspeca-image: './src/assets/images/sprites/sprite.png';
$cenario-mapaspeca: (3852px, 0px, -3852px, 0px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'cenario_mapaspeca', );
$cenario1-governo-name: 'cenario1_governo';
$cenario1-governo-x: 3852px;
$cenario1-governo-y: 1086px;
$cenario1-governo-offset-x: -3852px;
$cenario1-governo-offset-y: -1086px;
$cenario1-governo-width: 1921px;
$cenario1-governo-height: 1081px;
$cenario1-governo-total-width: 7698px;
$cenario1-governo-total-height: 6843px;
$cenario1-governo-image: './src/assets/images/sprites/sprite.png';
$cenario1-governo: (3852px, 1086px, -3852px, -1086px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'cenario1_governo', );
$cenarioalimentacao-name: 'cenarioalimentacao';
$cenarioalimentacao-x: 5778px;
$cenarioalimentacao-y: 4342px;
$cenarioalimentacao-offset-x: -5778px;
$cenarioalimentacao-offset-y: -4342px;
$cenarioalimentacao-width: 1920px;
$cenarioalimentacao-height: 1080px;
$cenarioalimentacao-total-width: 7698px;
$cenarioalimentacao-total-height: 6843px;
$cenarioalimentacao-image: './src/assets/images/sprites/sprite.png';
$cenarioalimentacao: (5778px, 4342px, -5778px, -4342px, 1920px, 1080px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'cenarioalimentacao', );
$cenariocarrinho-inovacao-name: 'cenariocarrinho_inovacao';
$cenariocarrinho-inovacao-x: 3852px;
$cenariocarrinho-inovacao-y: 2172px;
$cenariocarrinho-inovacao-offset-x: -3852px;
$cenariocarrinho-inovacao-offset-y: -2172px;
$cenariocarrinho-inovacao-width: 1921px;
$cenariocarrinho-inovacao-height: 1081px;
$cenariocarrinho-inovacao-total-width: 7698px;
$cenariocarrinho-inovacao-total-height: 6843px;
$cenariocarrinho-inovacao-image: './src/assets/images/sprites/sprite.png';
$cenariocarrinho-inovacao: (3852px, 2172px, -3852px, -2172px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'cenariocarrinho_inovacao', );
$cenarioescola-dentro-name: 'cenarioescola_dentro';
$cenarioescola-dentro-x: 0px;
$cenarioescola-dentro-y: 3258px;
$cenarioescola-dentro-offset-x: 0px;
$cenarioescola-dentro-offset-y: -3258px;
$cenarioescola-dentro-width: 1921px;
$cenarioescola-dentro-height: 1081px;
$cenarioescola-dentro-total-width: 7698px;
$cenarioescola-dentro-total-height: 6843px;
$cenarioescola-dentro-image: './src/assets/images/sprites/sprite.png';
$cenarioescola-dentro: (0px, 3258px, 0px, -3258px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'cenarioescola_dentro', );
$cenarioescola-fora-name: 'cenarioescola_fora';
$cenarioescola-fora-x: 1926px;
$cenarioescola-fora-y: 3258px;
$cenarioescola-fora-offset-x: -1926px;
$cenarioescola-fora-offset-y: -3258px;
$cenarioescola-fora-width: 1921px;
$cenarioescola-fora-height: 1081px;
$cenarioescola-fora-total-width: 7698px;
$cenarioescola-fora-total-height: 6843px;
$cenarioescola-fora-image: './src/assets/images/sprites/sprite.png';
$cenarioescola-fora: (1926px, 3258px, -1926px, -3258px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'cenarioescola_fora', );
$cenariogoverno-ong-name: 'cenariogoverno_ong';
$cenariogoverno-ong-x: 3852px;
$cenariogoverno-ong-y: 3258px;
$cenariogoverno-ong-offset-x: -3852px;
$cenariogoverno-ong-offset-y: -3258px;
$cenariogoverno-ong-width: 1921px;
$cenariogoverno-ong-height: 1081px;
$cenariogoverno-ong-total-width: 7698px;
$cenariogoverno-ong-total-height: 6843px;
$cenariogoverno-ong-image: './src/assets/images/sprites/sprite.png';
$cenariogoverno-ong: (3852px, 3258px, -3852px, -3258px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'cenariogoverno_ong', );
$cenariogoverno-radio-name: 'cenariogoverno_radio';
$cenariogoverno-radio-x: 0px;
$cenariogoverno-radio-y: 4344px;
$cenariogoverno-radio-offset-x: 0px;
$cenariogoverno-radio-offset-y: -4344px;
$cenariogoverno-radio-width: 1921px;
$cenariogoverno-radio-height: 1081px;
$cenariogoverno-radio-total-width: 7698px;
$cenariogoverno-radio-total-height: 6843px;
$cenariogoverno-radio-image: './src/assets/images/sprites/sprite.png';
$cenariogoverno-radio: (0px, 4344px, 0px, -4344px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'cenariogoverno_radio', );
$cenariogoverno-radio3-name: 'cenariogoverno_radio3';
$cenariogoverno-radio3-x: 1926px;
$cenariogoverno-radio3-y: 4344px;
$cenariogoverno-radio3-offset-x: -1926px;
$cenariogoverno-radio3-offset-y: -4344px;
$cenariogoverno-radio3-width: 1921px;
$cenariogoverno-radio3-height: 1081px;
$cenariogoverno-radio3-total-width: 7698px;
$cenariogoverno-radio3-total-height: 6843px;
$cenariogoverno-radio3-image: './src/assets/images/sprites/sprite.png';
$cenariogoverno-radio3: (1926px, 4344px, -1926px, -4344px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'cenariogoverno_radio3', );
$cenarioprefeitura-governo-name: 'cenarioprefeitura_governo';
$cenarioprefeitura-governo-x: 3852px;
$cenarioprefeitura-governo-y: 4344px;
$cenarioprefeitura-governo-offset-x: -3852px;
$cenarioprefeitura-governo-offset-y: -4344px;
$cenarioprefeitura-governo-width: 1921px;
$cenarioprefeitura-governo-height: 1081px;
$cenarioprefeitura-governo-total-width: 7698px;
$cenarioprefeitura-governo-total-height: 6843px;
$cenarioprefeitura-governo-image: './src/assets/images/sprites/sprite.png';
$cenarioprefeitura-governo: (3852px, 4344px, -3852px, -4344px, 1921px, 1081px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'cenarioprefeitura_governo', );
$balloon-comment-name: 'balloon-comment';
$balloon-comment-x: 1718px;
$balloon-comment-y: 5430px;
$balloon-comment-offset-x: -1718px;
$balloon-comment-offset-y: -5430px;
$balloon-comment-width: 958px;
$balloon-comment-height: 393px;
$balloon-comment-total-width: 7698px;
$balloon-comment-total-height: 6843px;
$balloon-comment-image: './src/assets/images/sprites/sprite.png';
$balloon-comment: (1718px, 5430px, -1718px, -5430px, 958px, 393px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'balloon-comment', );
$box-comment-name: 'box-comment';
$box-comment-x: 0px;
$box-comment-y: 5430px;
$box-comment-offset-x: 0px;
$box-comment-offset-y: -5430px;
$box-comment-width: 1713px;
$box-comment-height: 836px;
$box-comment-total-width: 7698px;
$box-comment-total-height: 6843px;
$box-comment-image: './src/assets/images/sprites/sprite.png';
$box-comment: (0px, 5430px, 0px, -5430px, 1713px, 836px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'box-comment', );
$box-regions-left-name: 'box-regions-left';
$box-regions-left-x: 5105px;
$box-regions-left-y: 5430px;
$box-regions-left-offset-x: -5105px;
$box-regions-left-offset-y: -5430px;
$box-regions-left-width: 392px;
$box-regions-left-height: 160px;
$box-regions-left-total-width: 7698px;
$box-regions-left-total-height: 6843px;
$box-regions-left-image: './src/assets/images/sprites/sprite.png';
$box-regions-left: (5105px, 5430px, -5105px, -5430px, 392px, 160px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'box-regions-left', );
$box-robot-help-name: 'box-robot-help';
$box-robot-help-x: 2681px;
$box-robot-help-y: 5430px;
$box-robot-help-offset-x: -2681px;
$box-robot-help-offset-y: -5430px;
$box-robot-help-width: 904px;
$box-robot-help-height: 376px;
$box-robot-help-total-width: 7698px;
$box-robot-help-total-height: 6843px;
$box-robot-help-image: './src/assets/images/sprites/sprite.png';
$box-robot-help: (2681px, 5430px, -2681px, -5430px, 904px, 376px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'box-robot-help', );
$robot-mini-blue-name: 'robot-mini-blue';
$robot-mini-blue-x: 0px;
$robot-mini-blue-y: 6590px;
$robot-mini-blue-offset-x: 0px;
$robot-mini-blue-offset-y: -6590px;
$robot-mini-blue-width: 204px;
$robot-mini-blue-height: 253px;
$robot-mini-blue-total-width: 7698px;
$robot-mini-blue-total-height: 6843px;
$robot-mini-blue-image: './src/assets/images/sprites/sprite.png';
$robot-mini-blue: (0px, 6590px, 0px, -6590px, 204px, 253px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'robot-mini-blue', );
$btn-action-blue-name: 'btn-action-blue';
$btn-action-blue-x: 3590px;
$btn-action-blue-y: 5430px;
$btn-action-blue-offset-x: -3590px;
$btn-action-blue-offset-y: -5430px;
$btn-action-blue-width: 500px;
$btn-action-blue-height: 181px;
$btn-action-blue-total-width: 7698px;
$btn-action-blue-total-height: 6843px;
$btn-action-blue-image: './src/assets/images/sprites/sprite.png';
$btn-action-blue: (3590px, 5430px, -3590px, -5430px, 500px, 181px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-action-blue', );
$btn-action-orange-name: 'btn-action-orange';
$btn-action-orange-x: 4095px;
$btn-action-orange-y: 5430px;
$btn-action-orange-offset-x: -4095px;
$btn-action-orange-offset-y: -5430px;
$btn-action-orange-width: 500px;
$btn-action-orange-height: 181px;
$btn-action-orange-total-width: 7698px;
$btn-action-orange-total-height: 6843px;
$btn-action-orange-image: './src/assets/images/sprites/sprite.png';
$btn-action-orange: (4095px, 5430px, -4095px, -5430px, 500px, 181px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-action-orange', );
$btn-action-white-name: 'btn-action-white';
$btn-action-white-x: 4600px;
$btn-action-white-y: 5430px;
$btn-action-white-offset-x: -4600px;
$btn-action-white-offset-y: -5430px;
$btn-action-white-width: 500px;
$btn-action-white-height: 181px;
$btn-action-white-total-width: 7698px;
$btn-action-white-total-height: 6843px;
$btn-action-white-image: './src/assets/images/sprites/sprite.png';
$btn-action-white: (4600px, 5430px, -4600px, -5430px, 500px, 181px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-action-white', );
$btn-btinfo-mouseover-name: 'btn-btinfo_mouseover';
$btn-btinfo-mouseover-x: 3669px;
$btn-btinfo-mouseover-y: 5828px;
$btn-btinfo-mouseover-offset-x: -3669px;
$btn-btinfo-mouseover-offset-y: -5828px;
$btn-btinfo-mouseover-width: 200px;
$btn-btinfo-mouseover-height: 200px;
$btn-btinfo-mouseover-total-width: 7698px;
$btn-btinfo-mouseover-total-height: 6843px;
$btn-btinfo-mouseover-image: './src/assets/images/sprites/sprite.png';
$btn-btinfo-mouseover: (3669px, 5828px, -3669px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-btinfo_mouseover', );
$btn-btmusic-mouseover-name: 'btn-btmusic_mouseover';
$btn-btmusic-mouseover-x: 3874px;
$btn-btmusic-mouseover-y: 5828px;
$btn-btmusic-mouseover-offset-x: -3874px;
$btn-btmusic-mouseover-offset-y: -5828px;
$btn-btmusic-mouseover-width: 200px;
$btn-btmusic-mouseover-height: 200px;
$btn-btmusic-mouseover-total-width: 7698px;
$btn-btmusic-mouseover-total-height: 6843px;
$btn-btmusic-mouseover-image: './src/assets/images/sprites/sprite.png';
$btn-btmusic-mouseover: (3874px, 5828px, -3874px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-btmusic_mouseover', );
$btn-btmusicoff-ativo-name: 'btn-btmusicoff_ativo';
$btn-btmusicoff-ativo-x: 4079px;
$btn-btmusicoff-ativo-y: 5828px;
$btn-btmusicoff-ativo-offset-x: -4079px;
$btn-btmusicoff-ativo-offset-y: -5828px;
$btn-btmusicoff-ativo-width: 200px;
$btn-btmusicoff-ativo-height: 200px;
$btn-btmusicoff-ativo-total-width: 7698px;
$btn-btmusicoff-ativo-total-height: 6843px;
$btn-btmusicoff-ativo-image: './src/assets/images/sprites/sprite.png';
$btn-btmusicoff-ativo: (4079px, 5828px, -4079px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-btmusicoff_ativo', );
$btn-btrepetirinativo-name: 'btn-btrepetirinativo_';
$btn-btrepetirinativo-x: 4284px;
$btn-btrepetirinativo-y: 5828px;
$btn-btrepetirinativo-offset-x: -4284px;
$btn-btrepetirinativo-offset-y: -5828px;
$btn-btrepetirinativo-width: 200px;
$btn-btrepetirinativo-height: 200px;
$btn-btrepetirinativo-total-width: 7698px;
$btn-btrepetirinativo-total-height: 6843px;
$btn-btrepetirinativo-image: './src/assets/images/sprites/sprite.png';
$btn-btrepetirinativo-: (4284px, 5828px, -4284px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-btrepetirinativo_', );
$btn-op-no-name: 'btn-op-no';
$btn-op-no-x: 6181px;
$btn-op-no-y: 5430px;
$btn-op-no-offset-x: -6181px;
$btn-op-no-offset-y: -5430px;
$btn-op-no-width: 217px;
$btn-op-no-height: 123px;
$btn-op-no-total-width: 7698px;
$btn-op-no-total-height: 6843px;
$btn-op-no-image: './src/assets/images/sprites/sprite.png';
$btn-op-no: (6181px, 5430px, -6181px, -5430px, 217px, 123px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-op-no', );
$btn-op-yes-name: 'btn-op-yes';
$btn-op-yes-x: 5959px;
$btn-op-yes-y: 5430px;
$btn-op-yes-offset-x: -5959px;
$btn-op-yes-offset-y: -5430px;
$btn-op-yes-width: 217px;
$btn-op-yes-height: 124px;
$btn-op-yes-total-width: 7698px;
$btn-op-yes-total-height: 6843px;
$btn-op-yes-image: './src/assets/images/sprites/sprite.png';
$btn-op-yes: (5959px, 5430px, -5959px, -5430px, 217px, 124px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-op-yes', );
$btn-start-name: 'btn-start';
$btn-start-x: 5502px;
$btn-start-y: 5430px;
$btn-start-offset-x: -5502px;
$btn-start-offset-y: -5430px;
$btn-start-width: 452px;
$btn-start-height: 129px;
$btn-start-total-width: 7698px;
$btn-start-total-height: 6843px;
$btn-start-image: './src/assets/images/sprites/sprite.png';
$btn-start: (5502px, 5430px, -5502px, -5430px, 452px, 129px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-start', );
$btn-toggle-arrow-p-name: 'btn-toggle-arrow-p';
$btn-toggle-arrow-p-x: 4489px;
$btn-toggle-arrow-p-y: 5828px;
$btn-toggle-arrow-p-offset-x: -4489px;
$btn-toggle-arrow-p-offset-y: -5828px;
$btn-toggle-arrow-p-width: 200px;
$btn-toggle-arrow-p-height: 200px;
$btn-toggle-arrow-p-total-width: 7698px;
$btn-toggle-arrow-p-total-height: 6843px;
$btn-toggle-arrow-p-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-arrow-p: (4489px, 5828px, -4489px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-arrow-p', );
$btn-toggle-arrow-name: 'btn-toggle-arrow';
$btn-toggle-arrow-x: 4694px;
$btn-toggle-arrow-y: 5828px;
$btn-toggle-arrow-offset-x: -4694px;
$btn-toggle-arrow-offset-y: -5828px;
$btn-toggle-arrow-width: 200px;
$btn-toggle-arrow-height: 200px;
$btn-toggle-arrow-total-width: 7698px;
$btn-toggle-arrow-total-height: 6843px;
$btn-toggle-arrow-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-arrow: (4694px, 5828px, -4694px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-arrow', );
$btn-toggle-close-name: 'btn-toggle-close';
$btn-toggle-close-x: 4899px;
$btn-toggle-close-y: 5828px;
$btn-toggle-close-offset-x: -4899px;
$btn-toggle-close-offset-y: -5828px;
$btn-toggle-close-width: 200px;
$btn-toggle-close-height: 200px;
$btn-toggle-close-total-width: 7698px;
$btn-toggle-close-total-height: 6843px;
$btn-toggle-close-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-close: (4899px, 5828px, -4899px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-close', );
$btn-toggle-download-name: 'btn-toggle-download';
$btn-toggle-download-x: 3259px;
$btn-toggle-download-y: 5828px;
$btn-toggle-download-offset-x: -3259px;
$btn-toggle-download-offset-y: -5828px;
$btn-toggle-download-width: 200px;
$btn-toggle-download-height: 201px;
$btn-toggle-download-total-width: 7698px;
$btn-toggle-download-total-height: 6843px;
$btn-toggle-download-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-download: (3259px, 5828px, -3259px, -5828px, 200px, 201px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-download', );
$btn-toggle-home-name: 'btn-toggle-home';
$btn-toggle-home-x: 5104px;
$btn-toggle-home-y: 5828px;
$btn-toggle-home-offset-x: -5104px;
$btn-toggle-home-offset-y: -5828px;
$btn-toggle-home-width: 200px;
$btn-toggle-home-height: 200px;
$btn-toggle-home-total-width: 7698px;
$btn-toggle-home-total-height: 6843px;
$btn-toggle-home-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-home: (5104px, 5828px, -5104px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-home', );
$btn-toggle-info-name: 'btn-toggle-info';
$btn-toggle-info-x: 5309px;
$btn-toggle-info-y: 5828px;
$btn-toggle-info-offset-x: -5309px;
$btn-toggle-info-offset-y: -5828px;
$btn-toggle-info-width: 200px;
$btn-toggle-info-height: 200px;
$btn-toggle-info-total-width: 7698px;
$btn-toggle-info-total-height: 6843px;
$btn-toggle-info-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-info: (5309px, 5828px, -5309px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-info', );
$btn-toggle-mute-name: 'btn-toggle-mute';
$btn-toggle-mute-x: 5514px;
$btn-toggle-mute-y: 5828px;
$btn-toggle-mute-offset-x: -5514px;
$btn-toggle-mute-offset-y: -5828px;
$btn-toggle-mute-width: 200px;
$btn-toggle-mute-height: 200px;
$btn-toggle-mute-total-width: 7698px;
$btn-toggle-mute-total-height: 6843px;
$btn-toggle-mute-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-mute: (5514px, 5828px, -5514px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-mute', );
$btn-toggle-next-name: 'btn-toggle-next';
$btn-toggle-next-x: 5719px;
$btn-toggle-next-y: 5828px;
$btn-toggle-next-offset-x: -5719px;
$btn-toggle-next-offset-y: -5828px;
$btn-toggle-next-width: 200px;
$btn-toggle-next-height: 200px;
$btn-toggle-next-total-width: 7698px;
$btn-toggle-next-total-height: 6843px;
$btn-toggle-next-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-next: (5719px, 5828px, -5719px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-next', );
$btn-toggle-ok-name: 'btn-toggle-ok';
$btn-toggle-ok-x: 5924px;
$btn-toggle-ok-y: 5828px;
$btn-toggle-ok-offset-x: -5924px;
$btn-toggle-ok-offset-y: -5828px;
$btn-toggle-ok-width: 200px;
$btn-toggle-ok-height: 200px;
$btn-toggle-ok-total-width: 7698px;
$btn-toggle-ok-total-height: 6843px;
$btn-toggle-ok-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-ok: (5924px, 5828px, -5924px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-ok', );
$btn-toggle-pause-name: 'btn-toggle-pause';
$btn-toggle-pause-x: 6129px;
$btn-toggle-pause-y: 5828px;
$btn-toggle-pause-offset-x: -6129px;
$btn-toggle-pause-offset-y: -5828px;
$btn-toggle-pause-width: 200px;
$btn-toggle-pause-height: 200px;
$btn-toggle-pause-total-width: 7698px;
$btn-toggle-pause-total-height: 6843px;
$btn-toggle-pause-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-pause: (6129px, 5828px, -6129px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-pause', );
$btn-toggle-play-name: 'btn-toggle-play';
$btn-toggle-play-x: 6334px;
$btn-toggle-play-y: 5828px;
$btn-toggle-play-offset-x: -6334px;
$btn-toggle-play-offset-y: -5828px;
$btn-toggle-play-width: 200px;
$btn-toggle-play-height: 200px;
$btn-toggle-play-total-width: 7698px;
$btn-toggle-play-total-height: 6843px;
$btn-toggle-play-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-play: (6334px, 5828px, -6334px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-play', );
$btn-toggle-print-name: 'btn-toggle-print';
$btn-toggle-print-x: 3464px;
$btn-toggle-print-y: 5828px;
$btn-toggle-print-offset-x: -3464px;
$btn-toggle-print-offset-y: -5828px;
$btn-toggle-print-width: 200px;
$btn-toggle-print-height: 201px;
$btn-toggle-print-total-width: 7698px;
$btn-toggle-print-total-height: 6843px;
$btn-toggle-print-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-print: (3464px, 5828px, -3464px, -5828px, 200px, 201px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-print', );
$btn-toggle-repeat-name: 'btn-toggle-repeat';
$btn-toggle-repeat-x: 6539px;
$btn-toggle-repeat-y: 5828px;
$btn-toggle-repeat-offset-x: -6539px;
$btn-toggle-repeat-offset-y: -5828px;
$btn-toggle-repeat-width: 200px;
$btn-toggle-repeat-height: 200px;
$btn-toggle-repeat-total-width: 7698px;
$btn-toggle-repeat-total-height: 6843px;
$btn-toggle-repeat-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-repeat: (6539px, 5828px, -6539px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-repeat', );
$btn-toggle-sound-name: 'btn-toggle-sound';
$btn-toggle-sound-x: 6744px;
$btn-toggle-sound-y: 5828px;
$btn-toggle-sound-offset-x: -6744px;
$btn-toggle-sound-offset-y: -5828px;
$btn-toggle-sound-width: 200px;
$btn-toggle-sound-height: 200px;
$btn-toggle-sound-total-width: 7698px;
$btn-toggle-sound-total-height: 6843px;
$btn-toggle-sound-image: './src/assets/images/sprites/sprite.png';
$btn-toggle-sound: (6744px, 5828px, -6744px, -5828px, 200px, 200px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'btn-toggle-sound', );
$logo-complete-name: 'logo-complete';
$logo-complete-x: 1718px;
$logo-complete-y: 5828px;
$logo-complete-offset-x: -1718px;
$logo-complete-offset-y: -5828px;
$logo-complete-width: 868px;
$logo-complete-height: 430px;
$logo-complete-total-width: 7698px;
$logo-complete-total-height: 6843px;
$logo-complete-image: './src/assets/images/sprites/sprite.png';
$logo-complete: (1718px, 5828px, -1718px, -5828px, 868px, 430px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'logo-complete', );
$pc-cariri-name: 'pc_cariri';
$pc-cariri-x: 2925px;
$pc-cariri-y: 5828px;
$pc-cariri-offset-x: -2925px;
$pc-cariri-offset-y: -5828px;
$pc-cariri-width: 329px;
$pc-cariri-height: 208px;
$pc-cariri-total-width: 7698px;
$pc-cariri-total-height: 6843px;
$pc-cariri-image: './src/assets/images/sprites/sprite.png';
$pc-cariri: (2925px, 5828px, -2925px, -5828px, 329px, 208px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_cariri', );
$pc-cariri2-name: 'pc_cariri2';
$pc-cariri2-x: 2591px;
$pc-cariri2-y: 5828px;
$pc-cariri2-offset-x: -2591px;
$pc-cariri2-offset-y: -5828px;
$pc-cariri2-width: 329px;
$pc-cariri2-height: 209px;
$pc-cariri2-total-width: 7698px;
$pc-cariri2-total-height: 6843px;
$pc-cariri2-image: './src/assets/images/sprites/sprite.png';
$pc-cariri2: (2591px, 5828px, -2591px, -5828px, 329px, 209px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_cariri2', );
$pc-centro-sul-name: 'pc_centro_sul';
$pc-centro-sul-x: 3870px;
$pc-centro-sul-y: 5616px;
$pc-centro-sul-offset-x: -3870px;
$pc-centro-sul-offset-y: -5616px;
$pc-centro-sul-width: 237px;
$pc-centro-sul-height: 167px;
$pc-centro-sul-total-width: 7698px;
$pc-centro-sul-total-height: 6843px;
$pc-centro-sul-image: './src/assets/images/sprites/sprite.png';
$pc-centro-sul: (3870px, 5616px, -3870px, -5616px, 237px, 167px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_centro_sul', );
$pc-grande-fortaleza-name: 'pc_grande_fortaleza';
$pc-grande-fortaleza-x: 7357px;
$pc-grande-fortaleza-y: 5828px;
$pc-grande-fortaleza-offset-x: -7357px;
$pc-grande-fortaleza-offset-y: -5828px;
$pc-grande-fortaleza-width: 180px;
$pc-grande-fortaleza-height: 178px;
$pc-grande-fortaleza-total-width: 7698px;
$pc-grande-fortaleza-total-height: 6843px;
$pc-grande-fortaleza-image: './src/assets/images/sprites/sprite.png';
$pc-grande-fortaleza: (7357px, 5828px, -7357px, -5828px, 180px, 178px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_grande_fortaleza', );
$pc-litoral-leste-name: 'pc_litoral_leste';
$pc-litoral-leste-x: 6949px;
$pc-litoral-leste-y: 5828px;
$pc-litoral-leste-offset-x: -6949px;
$pc-litoral-leste-offset-y: -5828px;
$pc-litoral-leste-width: 200px;
$pc-litoral-leste-height: 184px;
$pc-litoral-leste-total-width: 7698px;
$pc-litoral-leste-total-height: 6843px;
$pc-litoral-leste-image: './src/assets/images/sprites/sprite.png';
$pc-litoral-leste: (6949px, 5828px, -6949px, -5828px, 200px, 184px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_litoral_leste', );
$pc-litoral-leste2-name: 'pc_litoral_leste2';
$pc-litoral-leste2-x: 7154px;
$pc-litoral-leste2-y: 5828px;
$pc-litoral-leste2-offset-x: -7154px;
$pc-litoral-leste2-offset-y: -5828px;
$pc-litoral-leste2-width: 198px;
$pc-litoral-leste2-height: 182px;
$pc-litoral-leste2-total-width: 7698px;
$pc-litoral-leste2-total-height: 6843px;
$pc-litoral-leste2-image: './src/assets/images/sprites/sprite.png';
$pc-litoral-leste2: (7154px, 5828px, -7154px, -5828px, 198px, 182px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_litoral_leste2', );
$pc-litoral-norte-name: 'pc_litoral_norte';
$pc-litoral-norte-x: 3590px;
$pc-litoral-norte-y: 5616px;
$pc-litoral-norte-offset-x: -3590px;
$pc-litoral-norte-offset-y: -5616px;
$pc-litoral-norte-width: 275px;
$pc-litoral-norte-height: 174px;
$pc-litoral-norte-total-width: 7698px;
$pc-litoral-norte-total-height: 6843px;
$pc-litoral-norte-image: './src/assets/images/sprites/sprite.png';
$pc-litoral-norte: (3590px, 5616px, -3590px, -5616px, 275px, 174px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_litoral_norte', );
$pc-litoral-oeste-name: 'pc_litoral_oeste';
$pc-litoral-oeste-x: 2591px;
$pc-litoral-oeste-y: 6042px;
$pc-litoral-oeste-offset-x: -2591px;
$pc-litoral-oeste-offset-y: -6042px;
$pc-litoral-oeste-width: 175px;
$pc-litoral-oeste-height: 207px;
$pc-litoral-oeste-total-width: 7698px;
$pc-litoral-oeste-total-height: 6843px;
$pc-litoral-oeste-image: './src/assets/images/sprites/sprite.png';
$pc-litoral-oeste: (2591px, 6042px, -2591px, -6042px, 175px, 207px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_litoral_oeste', );
$pc-litoral-oeste2-name: 'pc_litoral_oeste2';
$pc-litoral-oeste2-x: 2771px;
$pc-litoral-oeste2-y: 6042px;
$pc-litoral-oeste2-offset-x: -2771px;
$pc-litoral-oeste2-offset-y: -6042px;
$pc-litoral-oeste2-width: 172px;
$pc-litoral-oeste2-height: 205px;
$pc-litoral-oeste2-total-width: 7698px;
$pc-litoral-oeste2-total-height: 6843px;
$pc-litoral-oeste2-image: './src/assets/images/sprites/sprite.png';
$pc-litoral-oeste2: (2771px, 6042px, -2771px, -6042px, 172px, 205px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_litoral_oeste2', );
$pc-macico-de-baturite-name: 'pc_macico_de_baturite';
$pc-macico-de-baturite-x: 6403px;
$pc-macico-de-baturite-y: 5430px;
$pc-macico-de-baturite-offset-x: -6403px;
$pc-macico-de-baturite-offset-y: -5430px;
$pc-macico-de-baturite-width: 128px;
$pc-macico-de-baturite-height: 109px;
$pc-macico-de-baturite-total-width: 7698px;
$pc-macico-de-baturite-total-height: 6843px;
$pc-macico-de-baturite-image: './src/assets/images/sprites/sprite.png';
$pc-macico-de-baturite: (6403px, 5430px, -6403px, -5430px, 128px, 109px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_macico_de_baturite', );
$pc-macico-de-baturite2-name: 'pc_macico_de_baturite2';
$pc-macico-de-baturite2-x: 6536px;
$pc-macico-de-baturite2-y: 5430px;
$pc-macico-de-baturite2-offset-x: -6536px;
$pc-macico-de-baturite2-offset-y: -5430px;
$pc-macico-de-baturite2-width: 126px;
$pc-macico-de-baturite2-height: 107px;
$pc-macico-de-baturite2-total-width: 7698px;
$pc-macico-de-baturite2-total-height: 6843px;
$pc-macico-de-baturite2-image: './src/assets/images/sprites/sprite.png';
$pc-macico-de-baturite2: (6536px, 5430px, -6536px, -5430px, 126px, 107px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_macico_de_baturite2', );
$pc-serra-da-ibiapaba-name: 'pc_serra_da_ibiapaba';
$pc-serra-da-ibiapaba-x: 209px;
$pc-serra-da-ibiapaba-y: 6590px;
$pc-serra-da-ibiapaba-offset-x: -209px;
$pc-serra-da-ibiapaba-offset-y: -6590px;
$pc-serra-da-ibiapaba-width: 145px;
$pc-serra-da-ibiapaba-height: 209px;
$pc-serra-da-ibiapaba-total-width: 7698px;
$pc-serra-da-ibiapaba-total-height: 6843px;
$pc-serra-da-ibiapaba-image: './src/assets/images/sprites/sprite.png';
$pc-serra-da-ibiapaba: (209px, 6590px, -209px, -6590px, 145px, 209px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_serra_da_ibiapaba', );
$pc-serra-da-ibiapaba2-name: 'pc_serra_da_ibiapaba2';
$pc-serra-da-ibiapaba2-x: 1543px;
$pc-serra-da-ibiapaba2-y: 6271px;
$pc-serra-da-ibiapaba2-offset-x: -1543px;
$pc-serra-da-ibiapaba2-offset-y: -6271px;
$pc-serra-da-ibiapaba2-width: 146px;
$pc-serra-da-ibiapaba2-height: 208px;
$pc-serra-da-ibiapaba2-total-width: 7698px;
$pc-serra-da-ibiapaba2-total-height: 6843px;
$pc-serra-da-ibiapaba2-image: './src/assets/images/sprites/sprite.png';
$pc-serra-da-ibiapaba2: (1543px, 6271px, -1543px, -6271px, 146px, 208px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_serra_da_ibiapaba2', );
$pc-sertao-central-name: 'pc_sertao_central';
$pc-sertao-central-x: 656px;
$pc-sertao-central-y: 6271px;
$pc-sertao-central-offset-x: -656px;
$pc-sertao-central-offset-y: -6271px;
$pc-sertao-central-width: 251px;
$pc-sertao-central-height: 247px;
$pc-sertao-central-total-width: 7698px;
$pc-sertao-central-total-height: 6843px;
$pc-sertao-central-image: './src/assets/images/sprites/sprite.png';
$pc-sertao-central: (656px, 6271px, -656px, -6271px, 251px, 247px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_sertao_central', );
$pc-sertao-central2-name: 'pc_sertao_central2';
$pc-sertao-central2-x: 912px;
$pc-sertao-central2-y: 6271px;
$pc-sertao-central2-offset-x: -912px;
$pc-sertao-central2-offset-y: -6271px;
$pc-sertao-central2-width: 249px;
$pc-sertao-central2-height: 242px;
$pc-sertao-central2-total-width: 7698px;
$pc-sertao-central2-total-height: 6843px;
$pc-sertao-central2-image: './src/assets/images/sprites/sprite.png';
$pc-sertao-central2: (912px, 6271px, -912px, -6271px, 249px, 242px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_sertao_central2', );
$pc-sertao-de-caninde-name: 'pc_sertao_de_caninde';
$pc-sertao-de-caninde-x: 1166px;
$pc-sertao-de-caninde-y: 6271px;
$pc-sertao-de-caninde-offset-x: -1166px;
$pc-sertao-de-caninde-offset-y: -6271px;
$pc-sertao-de-caninde-width: 187px;
$pc-sertao-de-caninde-height: 239px;
$pc-sertao-de-caninde-total-width: 7698px;
$pc-sertao-de-caninde-total-height: 6843px;
$pc-sertao-de-caninde-image: './src/assets/images/sprites/sprite.png';
$pc-sertao-de-caninde: (1166px, 6271px, -1166px, -6271px, 187px, 239px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_sertao_de_caninde', );
$pc-sertao-de-sobral-name: 'pc_sertao_de_sobral';
$pc-sertao-de-sobral-x: 2948px;
$pc-sertao-de-sobral-y: 6042px;
$pc-sertao-de-sobral-offset-x: -2948px;
$pc-sertao-de-sobral-offset-y: -6042px;
$pc-sertao-de-sobral-width: 179px;
$pc-sertao-de-sobral-height: 197px;
$pc-sertao-de-sobral-total-width: 7698px;
$pc-sertao-de-sobral-total-height: 6843px;
$pc-sertao-de-sobral-image: './src/assets/images/sprites/sprite.png';
$pc-sertao-de-sobral: (2948px, 6042px, -2948px, -6042px, 179px, 197px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_sertao_de_sobral', );
$pc-sertao-dos-crateus-name: 'pc_sertao_dos_crateus';
$pc-sertao-dos-crateus-x: 0px;
$pc-sertao-dos-crateus-y: 6271px;
$pc-sertao-dos-crateus-offset-x: 0px;
$pc-sertao-dos-crateus-offset-y: -6271px;
$pc-sertao-dos-crateus-width: 216px;
$pc-sertao-dos-crateus-height: 314px;
$pc-sertao-dos-crateus-total-width: 7698px;
$pc-sertao-dos-crateus-total-height: 6843px;
$pc-sertao-dos-crateus-image: './src/assets/images/sprites/sprite.png';
$pc-sertao-dos-crateus: (0px, 6271px, 0px, -6271px, 216px, 314px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_sertao_dos_crateus', );
$pc-sertao-dos-crateus2-name: 'pc_sertao_dos_crateus2';
$pc-sertao-dos-crateus2-x: 221px;
$pc-sertao-dos-crateus2-y: 6271px;
$pc-sertao-dos-crateus2-offset-x: -221px;
$pc-sertao-dos-crateus2-offset-y: -6271px;
$pc-sertao-dos-crateus2-width: 216px;
$pc-sertao-dos-crateus2-height: 311px;
$pc-sertao-dos-crateus2-total-width: 7698px;
$pc-sertao-dos-crateus2-total-height: 6843px;
$pc-sertao-dos-crateus2-image: './src/assets/images/sprites/sprite.png';
$pc-sertao-dos-crateus2: (221px, 6271px, -221px, -6271px, 216px, 311px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_sertao_dos_crateus2', );
$pc-sertao-dos-inhamuns-name: 'pc_sertao_dos_inhamuns';
$pc-sertao-dos-inhamuns-x: 1358px;
$pc-sertao-dos-inhamuns-y: 6271px;
$pc-sertao-dos-inhamuns-offset-x: -1358px;
$pc-sertao-dos-inhamuns-offset-y: -6271px;
$pc-sertao-dos-inhamuns-width: 180px;
$pc-sertao-dos-inhamuns-height: 236px;
$pc-sertao-dos-inhamuns-total-width: 7698px;
$pc-sertao-dos-inhamuns-total-height: 6843px;
$pc-sertao-dos-inhamuns-image: './src/assets/images/sprites/sprite.png';
$pc-sertao-dos-inhamuns: (1358px, 6271px, -1358px, -6271px, 180px, 236px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_sertao_dos_inhamuns', );
$pc-vale-do-jaguaribe-name: 'pc_vale_do_jaguaribe';
$pc-vale-do-jaguaribe-x: 442px;
$pc-vale-do-jaguaribe-y: 6271px;
$pc-vale-do-jaguaribe-offset-x: -442px;
$pc-vale-do-jaguaribe-offset-y: -6271px;
$pc-vale-do-jaguaribe-width: 209px;
$pc-vale-do-jaguaribe-height: 303px;
$pc-vale-do-jaguaribe-total-width: 7698px;
$pc-vale-do-jaguaribe-total-height: 6843px;
$pc-vale-do-jaguaribe-image: './src/assets/images/sprites/sprite.png';
$pc-vale-do-jaguaribe: (442px, 6271px, -442px, -6271px, 209px, 303px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pc_vale_do_jaguaribe', );
$pointerazul-name: 'pointerazul';
$pointerazul-x: 6667px;
$pointerazul-y: 5430px;
$pointerazul-offset-x: -6667px;
$pointerazul-offset-y: -5430px;
$pointerazul-width: 32px;
$pointerazul-height: 32px;
$pointerazul-total-width: 7698px;
$pointerazul-total-height: 6843px;
$pointerazul-image: './src/assets/images/sprites/sprite.png';
$pointerazul: (6667px, 5430px, -6667px, -5430px, 32px, 32px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pointerazul', );
$pointerblock-name: 'pointerblock';
$pointerblock-x: 6704px;
$pointerblock-y: 5430px;
$pointerblock-offset-x: -6704px;
$pointerblock-offset-y: -5430px;
$pointerblock-width: 32px;
$pointerblock-height: 32px;
$pointerblock-total-width: 7698px;
$pointerblock-total-height: 6843px;
$pointerblock-image: './src/assets/images/sprites/sprite.png';
$pointerblock: (6704px, 5430px, -6704px, -5430px, 32px, 32px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pointerblock', );
$pointerbranco-name: 'pointerbranco';
$pointerbranco-x: 6741px;
$pointerbranco-y: 5430px;
$pointerbranco-offset-x: -6741px;
$pointerbranco-offset-y: -5430px;
$pointerbranco-width: 32px;
$pointerbranco-height: 32px;
$pointerbranco-total-width: 7698px;
$pointerbranco-total-height: 6843px;
$pointerbranco-image: './src/assets/images/sprites/sprite.png';
$pointerbranco: (6741px, 5430px, -6741px, -5430px, 32px, 32px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pointerbranco', );
$pointerclick-name: 'pointerclick';
$pointerclick-x: 6778px;
$pointerclick-y: 5430px;
$pointerclick-offset-x: -6778px;
$pointerclick-offset-y: -5430px;
$pointerclick-width: 32px;
$pointerclick-height: 32px;
$pointerclick-total-width: 7698px;
$pointerclick-total-height: 6843px;
$pointerclick-image: './src/assets/images/sprites/sprite.png';
$pointerclick: (6778px, 5430px, -6778px, -5430px, 32px, 32px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pointerclick', );
$pointerdrag-name: 'pointerdrag';
$pointerdrag-x: 6815px;
$pointerdrag-y: 5430px;
$pointerdrag-offset-x: -6815px;
$pointerdrag-offset-y: -5430px;
$pointerdrag-width: 32px;
$pointerdrag-height: 32px;
$pointerdrag-total-width: 7698px;
$pointerdrag-total-height: 6843px;
$pointerdrag-image: './src/assets/images/sprites/sprite.png';
$pointerdrag: (6815px, 5430px, -6815px, -5430px, 32px, 32px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pointerdrag', );
$pointerlaranja-name: 'pointerlaranja';
$pointerlaranja-x: 6852px;
$pointerlaranja-y: 5430px;
$pointerlaranja-offset-x: -6852px;
$pointerlaranja-offset-y: -5430px;
$pointerlaranja-width: 32px;
$pointerlaranja-height: 32px;
$pointerlaranja-total-width: 7698px;
$pointerlaranja-total-height: 6843px;
$pointerlaranja-image: './src/assets/images/sprites/sprite.png';
$pointerlaranja: (6852px, 5430px, -6852px, -5430px, 32px, 32px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pointerlaranja', );
$pointermove-name: 'pointermove';
$pointermove-x: 6889px;
$pointermove-y: 5430px;
$pointermove-offset-x: -6889px;
$pointermove-offset-y: -5430px;
$pointermove-width: 32px;
$pointermove-height: 32px;
$pointermove-total-width: 7698px;
$pointermove-total-height: 6843px;
$pointermove-image: './src/assets/images/sprites/sprite.png';
$pointermove: (6889px, 5430px, -6889px, -5430px, 32px, 32px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pointermove', );
$pointertext-name: 'pointertext';
$pointertext-x: 6926px;
$pointertext-y: 5430px;
$pointertext-offset-x: -6926px;
$pointertext-offset-y: -5430px;
$pointertext-width: 32px;
$pointertext-height: 32px;
$pointertext-total-width: 7698px;
$pointertext-total-height: 6843px;
$pointertext-image: './src/assets/images/sprites/sprite.png';
$pointertext: (6926px, 5430px, -6926px, -5430px, 32px, 32px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pointertext', );
$pointerverde-name: 'pointerverde';
$pointerverde-x: 6963px;
$pointerverde-y: 5430px;
$pointerverde-offset-x: -6963px;
$pointerverde-offset-y: -5430px;
$pointerverde-width: 32px;
$pointerverde-height: 32px;
$pointerverde-total-width: 7698px;
$pointerverde-total-height: 6843px;
$pointerverde-image: './src/assets/images/sprites/sprite.png';
$pointerverde: (6963px, 5430px, -6963px, -5430px, 32px, 32px, 7698px, 6843px, './src/assets/images/sprites/sprite.png', 'pointerverde', );
$spritesheet-width: 7698px;
$spritesheet-height: 6843px;
$spritesheet-image: './src/assets/images/sprites/sprite.png';
$spritesheet-sprites: ($bg-bebedouro, $bg-cenario-sala, $bg-chao-sujo, $bg-cozinha, $bg-home, $bg-horta, $bg-mapa-ceara, $bg-menu, $bg-sete-erros, $cenario-inovacao2, $cenario-mapaspeca, $cenario1-governo, $cenarioalimentacao, $cenariocarrinho-inovacao, $cenarioescola-dentro, $cenarioescola-fora, $cenariogoverno-ong, $cenariogoverno-radio, $cenariogoverno-radio3, $cenarioprefeitura-governo, $balloon-comment, $box-comment, $box-regions-left, $box-robot-help, $robot-mini-blue, $btn-action-blue, $btn-action-orange, $btn-action-white, $btn-btinfo-mouseover, $btn-btmusic-mouseover, $btn-btmusicoff-ativo, $btn-btrepetirinativo-, $btn-op-no, $btn-op-yes, $btn-start, $btn-toggle-arrow-p, $btn-toggle-arrow, $btn-toggle-close, $btn-toggle-download, $btn-toggle-home, $btn-toggle-info, $btn-toggle-mute, $btn-toggle-next, $btn-toggle-ok, $btn-toggle-pause, $btn-toggle-play, $btn-toggle-print, $btn-toggle-repeat, $btn-toggle-sound, $logo-complete, $pc-cariri, $pc-cariri2, $pc-centro-sul, $pc-grande-fortaleza, $pc-litoral-leste, $pc-litoral-leste2, $pc-litoral-norte, $pc-litoral-oeste, $pc-litoral-oeste2, $pc-macico-de-baturite, $pc-macico-de-baturite2, $pc-serra-da-ibiapaba, $pc-serra-da-ibiapaba2, $pc-sertao-central, $pc-sertao-central2, $pc-sertao-de-caninde, $pc-sertao-de-sobral, $pc-sertao-dos-crateus, $pc-sertao-dos-crateus2, $pc-sertao-dos-inhamuns, $pc-vale-do-jaguaribe, $pointerazul, $pointerblock, $pointerbranco, $pointerclick, $pointerdrag, $pointerlaranja, $pointermove, $pointertext, $pointerverde, );
$spritesheet: (7698px, 6843px, './src/assets/images/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
