.spritesheet.badge-star-empty {
  width: 151px;
  height: 147px;
  background-position: -739px -1808px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.badge-star-full {
  width: 151px;
  height: 147px;
  background-position: -716px -2092px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.badge-star-half {
  width: 151px;
  height: 147px;
  background-position: -716px -2241px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-bt-info_ativo {
  width: 200px;
  height: 200px;
  background-position: -421px -225px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-btmusicoff_ativo {
  width: 200px;
  height: 200px;
  background-position: -219px -631px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-btrepetirinativo_ {
  width: 200px;
  height: 200px;
  background-position: -421px -427px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-music_ativo {
  width: 200px;
  height: 200px;
  background-position: -219px -833px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-arrow {
  width: 200px;
  height: 200px;
  background-position: -421px -831px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-arrow-p {
  width: 200px;
  height: 200px;
  background-position: -421px -629px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-close {
  width: 200px;
  height: 200px;
  background-position: -219px -1035px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-download {
  width: 200px;
  height: 201px;
  background-position: -219px -225px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-home {
  width: 200px;
  height: 200px;
  background-position: -421px -1033px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-info {
  width: 200px;
  height: 200px;
  background-position: -218px -1237px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-mute {
  width: 200px;
  height: 200px;
  background-position: -219px -1625px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-next {
  width: 200px;
  height: 200px;
  background-position: -771px -224px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-ok {
  width: 200px;
  height: 200px;
  background-position: -973px -224px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-pause {
  width: 200px;
  height: 200px;
  background-position: -800px -426px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-play {
  width: 200px;
  height: 200px;
  background-position: -623px -851px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-print {
  width: 200px;
  height: 201px;
  background-position: -219px -428px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-repeat {
  width: 200px;
  height: 200px;
  background-position: -623px -1053px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.btn-btn-toggle-sound {
  width: 200px;
  height: 200px;
  background-position: -1002px -426px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.economia-planta_item2_eco_bom {
  width: 101px;
  height: 101px;
  background-position: -1835px -1358px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.economia-planta_item2_eco_ruim {
  width: 101px;
  height: 101px;
  background-position: -1612px -2241px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.economia-planta_item3_eco_bom {
  width: 101px;
  height: 101px;
  background-position: -1725px -2128px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.economia-planta_item3_eco_ruim {
  width: 101px;
  height: 101px;
  background-position: -1801px -2015px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.economia-planta_item4_eco_bom {
  width: 101px;
  height: 101px;
  background-position: -1828px -2118px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_biblioteca_save {
  width: 151px;
  height: 151px;
  background-position: -1381px -495px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_cantina {
  width: 159px;
  height: 118px;
  background-position: -982px -813px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_cantina_add {
  width: 159px;
  height: 118px;
  background-position: -1143px -813px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_cantina_check {
  width: 159px;
  height: 118px;
  background-position: -573px -1394px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_cantina_menos {
  width: 158px;
  height: 119px;
  background-position: -218px -2206px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_danca {
  width: 162px;
  height: 129px;
  background-position: -552px -2077px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_danca_add {
  width: 162px;
  height: 129px;
  background-position: -552px -2208px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_danca_check {
  width: 162px;
  height: 130px;
  background-position: -570px -1945px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_danca_menos {
  width: 162px;
  height: 129px;
  background-position: -762px -1278px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_livros_1 {
  width: 148px;
  height: 116px;
  background-position: -891px -1533px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_livros_add {
  width: 148px;
  height: 116px;
  background-position: -1184px -1595px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_livros_menos_1 {
  width: 148px;
  height: 116px;
  background-position: -1336px -1522px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_musica {
  width: 140px;
  height: 137px;
  background-position: -1034px -1785px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_musica_add {
  width: 140px;
  height: 137px;
  background-position: -1039px -1924px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_musica_check {
  width: 140px;
  height: 137px;
  background-position: -1176px -1713px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_musica_menos {
  width: 140px;
  height: 137px;
  background-position: -1318px -1757px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_teatro {
  width: 130px;
  height: 130px;
  background-position: -1306px -2011px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_teatro_add {
  width: 130px;
  height: 130px;
  background-position: -1484px -1657px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_teatro_check {
  width: 130px;
  height: 130px;
  background-position: -1460px -1789px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_bt_teatro_menos {
  width: 129px;
  height: 130px;
  background-position: -1054px -1440px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_cantina_save {
  width: 151px;
  height: 151px;
  background-position: -1333px -933px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_danca_save {
  width: 151px;
  height: 151px;
  background-position: -1344px -1086px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_icon_biblioteca {
  width: 144px;
  height: 86px;
  background-position: -1447px -1921px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_icon_cantina {
  width: 149px;
  height: 91px;
  background-position: -1185px -1502px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_icon_musica {
  width: 126px;
  height: 128px;
  background-position: -1811px -461px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_icon_teatro {
  width: 120px;
  height: 114px;
  background-position: -1259px -2285px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_info_save {
  width: 151px;
  height: 151px;
  background-position: -1352px -1239px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_musica_save {
  width: 151px;
  height: 151px;
  background-position: -1486px -933px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_quimica_save {
  width: 151px;
  height: 151px;
  background-position: -1497px -1086px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolad_teatro_save {
  width: 151px;
  height: 151px;
  background-position: -1505px -1239px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_acessib_save {
  width: 151px;
  height: 151px;
  background-position: -1529px -1392px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_arvore_save {
  width: 151px;
  height: 151px;
  background-position: -1588px -760px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_acessib_add {
  width: 123px;
  height: 145px;
  background-position: -1811px -1211px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_acessib_menos {
  width: 123px;
  height: 145px;
  background-position: -1181px -1852px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_acessib_normal {
  width: 123px;
  height: 145px;
  background-position: -1181px -1999px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_arbori_add {
  width: 121px;
  height: 147px;
  background-position: -1792px -913px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_arbori_normal {
  width: 121px;
  height: 147px;
  background-position: -1803px -1062px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_bus_check {
  width: 174px;
  height: 129px;
  background-position: -421px -1235px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_bus_menos {
  width: 175px;
  height: 128px;
  background-position: -1541px -367px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_bus_normal {
  width: 175px;
  height: 128px;
  background-position: -1352px -1392px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_horta_add {
  width: 175px;
  height: 138px;
  background-position: -1204px -511px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_horta_check {
  width: 175px;
  height: 140px;
  background-position: -1182px -217px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_horta_menos {
  width: 175px;
  height: 139px;
  background-position: -1364px -354px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_horta_normal {
  width: 175px;
  height: 138px;
  background-position: -1181px -651px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_lixo_add {
  width: 116px;
  height: 137px;
  background-position: -1136px -2146px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_lixo_check {
  width: 117px;
  height: 139px;
  background-position: -1746px -1669px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_lixo_menos {
  width: 117px;
  height: 137px;
  background-position: -1013px -2075px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_lixo_png {
  width: 116px;
  height: 137px;
  background-position: -1254px -2146px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_pintar_add {
  width: 163px;
  height: 137px;
  background-position: -597px -1255px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_pintar_check {
  width: 163px;
  height: 138px;
  background-position: -1358px -651px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_pintar_menos {
  width: 163px;
  height: 137px;
  background-position: -574px -1667px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_bt_pintar_normal {
  width: 163px;
  height: 137px;
  background-position: -574px -1806px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_horta_save {
  width: 151px;
  height: 151px;
  background-position: -1639px -913px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_icon_acessib {
  width: 107px;
  height: 122px;
  background-position: -1381px -2272px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_icon_arborizar {
  width: 116px;
  height: 142px;
  background-position: -1744px -1525px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_icon_horta {
  width: 174px;
  height: 135px;
  background-position: -1534px -497px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_icon_lixeirasselet {
  width: 105px;
  height: 124px;
  background-position: -1741px -787px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_icon_pintar {
  width: 148px;
  height: 115px;
  background-position: -1334px -1640px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_lixo_save {
  width: 151px;
  height: 151px;
  background-position: -1650px -1066px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_onibus_save {
  width: 151px;
  height: 151px;
  background-position: -1658px -1219px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_parque_save {
  width: 151px;
  height: 151px;
  background-position: -1682px -1372px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-escolaf_tinta_save {
  width: 151px;
  height: 151px;
  background-position: -420px -1366px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_cadeira_save {
  width: 151px;
  height: 151px;
  background-position: -421px -1617px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_globo_save {
  width: 151px;
  height: 151px;
  background-position: -585px -1514px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_globosala {
  width: 115px;
  height: 137px;
  background-position: -1627px -1545px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_icon_carteira {
  width: 137px;
  height: 128px;
  background-position: -1033px -1655px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_icon_globo {
  width: 107px;
  height: 127px;
  background-position: -1372px -2143px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_icon_livros {
  width: 163px;
  height: 96px;
  background-position: -420px -1519px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_icon_lixeira {
  width: 122px;
  height: 117px;
  background-position: -1720px -1896px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_lapis_save {
  width: 151px;
  height: 151px;
  background-position: -421px -1770px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_livros_save {
  width: 151px;
  height: 151px;
  background-position: -399px -2013px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_livrossala {
  width: 143px;
  height: 84px;
  background-position: -1717px -1810px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_lixeira_save {
  width: 151px;
  height: 151px;
  background-position: -399px -2166px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_lixeirasala {
  width: 123px;
  height: 117px;
  background-position: -1592px -1795px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_luz_save {
  width: 151px;
  height: 151px;
  background-position: -738px -1502px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.educacao-sala_quadro_save {
  width: 151px;
  height: 151px;
  background-position: -739px -1655px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.governo-campinho_bandeira_amarela {
  width: 180px;
  height: 186px;
  background-position: -1010px -933px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.governo-campinho_bandeira_vermelha {
  width: 183px;
  height: 186px;
  background-position: -825px -934px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.governo-ong_cenoura {
  width: 105px;
  height: 94px;
  background-position: -140px -2327px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.governo-ong_item_alface {
  width: 140px;
  height: 139px;
  background-position: -892px -1793px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.governo-ong_item_banana {
  width: 139px;
  height: 140px;
  background-position: -869px -2240px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.governo-ong_item_cenoura {
  width: 140px;
  height: 140px;
  background-position: -1304px -791px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.governo-ong_item_tomate {
  width: 140px;
  height: 139px;
  background-position: -897px -1934px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.governo-radio_item_jornal {
  width: 140px;
  height: 140px;
  background-position: -1446px -791px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.governo-radio_item_rolojornal {
  width: 139px;
  height: 140px;
  background-position: -892px -1651px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.governo-radio_jornal {
  width: 104px;
  height: 93px;
  background-position: -1725px -2231px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.inovacao-bebedouro_balde {
  width: 183px;
  height: 154px;
  background-position: -825px -1122px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.inovacao-bebedouro_vasoplanta {
  width: 118px;
  height: 85px;
  background-position: -1010px -2327px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.inovacao-carrinho_motor_carro {
  width: 187px;
  height: 183px;
  background-position: -992px -628px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.inovacao-carrinho_motor_foracarro {
  width: 175px;
  height: 124px;
  background-position: -1534px -634px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.inovacao-carrinho_placa_carro {
  width: 190px;
  height: 144px;
  background-position: -800px -628px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.inovacao-carrinho_rodas_foracarro {
  width: 155px;
  height: 158px;
  background-position: -825px -774px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.inovacao-foguete_rabogarrafa {
  width: 145px;
  height: 128px;
  background-position: -1792px -331px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.lazer-album1_pg1_couro {
  width: 215px;
  height: 227px;
  background-position: -1px -1869px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.lazer-album1_pg1_cuscuz {
  width: 215px;
  height: 228px;
  background-position: -1px -1180px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.lazer-album1_pg1_panelada {
  width: 215px;
  height: 228px;
  background-position: -1px -1410px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.lazer-album1_pg1_tecel {
  width: 215px;
  height: 227px;
  background-position: -1px -2098px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.lazer-album1_pg2_caninde {
  width: 216px;
  height: 228px;
  background-position: -1px -261px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.lazer-album1_pg2_indios {
  width: 216px;
  height: 227px;
  background-position: -1px -951px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.lazer-album1_pg2_saojoao {
  width: 216px;
  height: 227px;
  background-position: -1px -1640px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.lazer-album1_pg2_saojoao2 {
  width: 216px;
  height: 228px;
  background-position: -1px -491px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.lazer-album1_pg2_saojoao_fita {
  width: 215px;
  height: 258px;
  background-position: -1px -1px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.lazer-album1_placeholderfigura {
  width: 216px;
  height: 228px;
  background-position: -1px -721px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_alface {
  width: 117px;
  height: 120px;
  background-position: -1438px -2011px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_caixa {
  width: 206px;
  height: 164px;
  background-position: -1633px -1px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_cenoura1 {
  width: 137px;
  height: 94px;
  background-position: -1px -2327px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_cenoura2 {
  width: 173px;
  height: 195px;
  background-position: -1594px -170px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_garrafa {
  width: 107px;
  height: 134px;
  background-position: -1076px -1301px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_jornal3 {
  width: 148px;
  height: 137px;
  background-position: -926px -1301px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_pc10 {
  width: 158px;
  height: 150px;
  background-position: -1204px -359px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_pc2 {
  width: 150px;
  height: 158px;
  background-position: -1192px -1097px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_pc3 {
  width: 158px;
  height: 91px;
  background-position: -734px -1409px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_pc4 {
  width: 158px;
  height: 91px;
  background-position: -894px -1440px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_pc6 {
  width: 158px;
  height: 151px;
  background-position: -1192px -1257px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_pc7 {
  width: 158px;
  height: 90px;
  background-position: -1185px -1410px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_pc9 {
  width: 159px;
  height: 91px;
  background-position: -247px -2327px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_tomate1 {
  width: 142px;
  height: 146px;
  background-position: -869px -2092px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.meio-sustent_tomates {
  width: 129px;
  height: 82px;
  background-position: -547px -2339px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.page-map-pc_centro_sul {
  width: 237px;
  height: 167px;
  background-position: -1394px -1px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.page-map-pc_grande_fortaleza {
  width: 180px;
  height: 178px;
  background-position: -1010px -1121px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.page-map-pc_litoral_leste {
  width: 200px;
  height: 184px;
  background-position: -218px -1439px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.page-map-pc_litoral_leste2 {
  width: 198px;
  height: 182px;
  background-position: -1394px -170px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.page-map-pc_litoral_oeste {
  width: 175px;
  height: 207px;
  background-position: -623px -435px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.page-map-pc_litoral_oeste2 {
  width: 172px;
  height: 205px;
  background-position: -623px -644px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.page-map-pc_macico_de_baturite {
  width: 128px;
  height: 109px;
  background-position: -1616px -1684px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.page-map-pc_macico_de_baturite2 {
  width: 126px;
  height: 107px;
  background-position: -1811px -591px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.page-map-pc_serra_da_ibiapaba2 {
  width: 146px;
  height: 208px;
  background-position: -623px -225px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.page-map-pc_sertao_de_sobral {
  width: 179px;
  height: 197px;
  background-position: -218px -2007px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.quiz-quiz_eco-badge {
  width: 121px;
  height: 111px;
  background-position: -1013px -2214px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.quiz-quiz_edu-badge {
  width: 120px;
  height: 111px;
  background-position: -1557px -2015px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.quiz-quiz_gov-badge {
  width: 120px;
  height: 111px;
  background-position: -1679px -2015px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.quiz-quiz_gov-badge-2x {
  width: 239px;
  height: 222px;
  background-position: -218px -1px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.quiz-quiz_ino-badge {
  width: 120px;
  height: 111px;
  background-position: -1481px -2133px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.quiz-quiz_ino-badge-2x {
  width: 239px;
  height: 222px;
  background-position: -459px -1px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.quiz-quiz_laz-badge {
  width: 121px;
  height: 111px;
  background-position: -1136px -2285px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.quiz-quiz_mei-badge {
  width: 120px;
  height: 111px;
  background-position: -1603px -2128px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.quiz-quiz_mei-badge-2x {
  width: 239px;
  height: 221px;
  background-position: -700px -1px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.quiz-quiz_sau-badge {
  width: 120px;
  height: 111px;
  background-position: -1490px -2246px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.quiz-quiz_sau-badge-2x {
  width: 239px;
  height: 221px;
  background-position: -941px -1px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.saude-parquinho_prancheta-4 {
  width: 139px;
  height: 113px;
  background-position: -1306px -1896px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.saude-parquinho_table1t {
  width: 139px;
  height: 162px;
  background-position: -1769px -167px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.saude-parquinho_tablet {
  width: 139px;
  height: 162px;
  background-position: -1192px -933px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.saude-prato_alface {
  width: 210px;
  height: 214px;
  background-position: -1182px -1px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.saude-prato_alfaceprato {
  width: 194px;
  height: 178px;
  background-position: -219px -1827px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.saude-prato_batatadoceprato {
  width: 141px;
  height: 81px;
  background-position: -1041px -1572px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.saude-prato_bombom {
  width: 139px;
  height: 110px;
  background-position: -1486px -1545px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.saude-prato_cenouraprato {
  width: 102px;
  height: 85px;
  background-position: -1835px -700px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.saude-prato_jujubaprato {
  width: 153px;
  height: 88px;
  background-position: -415px -1923px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.saude-prato_ovos {
  width: 125px;
  height: 99px;
  background-position: -1593px -1914px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.saude-prato_pirulito {
  width: 137px;
  height: 100px;
  background-position: -408px -2319px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.saude-prato_queijo {
  width: 161px;
  height: 133px;
  background-position: -734px -1957px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
.spritesheet.saude-prato_queijoprato {
  width: 100px;
  height: 81px;
  background-position: -1831px -2221px;
  background-image: url('../images/spritesheet/sprite-6.png');
}
