.spritesheet.bg-cenario1_governo {
  width: 1921px;
  height: 1081px;
  background-position: -1px -1px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.bg-cenario_inovacao2 {
  width: 1921px;
  height: 1081px;
  background-position: -1px -1084px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.bg-cenario_mapaspeca {
  width: 1921px;
  height: 1081px;
  background-position: -1px -2167px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.bg-cenariocarrinho_inovacao {
  width: 1921px;
  height: 1081px;
  background-position: -1924px -1px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.bg-cenarioescola_dentro {
  width: 1921px;
  height: 1081px;
  background-position: -1924px -1084px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.bg-cenarioescola_fora {
  width: 1921px;
  height: 1081px;
  background-position: -1924px -2167px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.box-balloon-comment {
  width: 958px;
  height: 393px;
  background-position: -1px -3250px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.box-box-comment-certificate {
  width: 930px;
  height: 247px;
  background-position: -961px -3250px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.box-box-robot-help {
  width: 904px;
  height: 376px;
  background-position: -1893px -3250px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.btn-btn-action-orange {
  width: 500px;
  height: 181px;
  background-position: -1876px -3628px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.btn-btn-action-white {
  width: 500px;
  height: 181px;
  background-position: -2788px -3682px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.economia-monstrinhos_bolinha1_educ_ciencito {
  width: 73px;
  height: 73px;
  background-position: -1543px -3819px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.educacao-escolaf_lixeirasseletivas {
  width: 268px;
  height: 79px;
  background-position: -1876px -3811px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.educacao-sala_lapissala {
  width: 124px;
  height: 76px;
  background-position: -948px -3819px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.governo-radio_rolojornal {
  width: 112px;
  height: 69px;
  background-position: -1190px -3819px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.inovacao-bico3 {
  width: 209px;
  height: 85px;
  background-position: -2146px -3811px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.inovacao-foguete_rabo1 {
  width: 408px;
  height: 216px;
  background-position: -2378px -3628px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.inovacao-foguete_rabo2 {
  width: 448px;
  height: 216px;
  background-position: -498px -3645px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.inovacao-foguete_rabo3 {
  width: 495px;
  height: 219px;
  background-position: -1px -3645px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.logo-logo-complete {
  width: 868px;
  height: 430px;
  background-position: -2799px -3250px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.meio-sustent_alface1 {
  width: 114px;
  height: 72px;
  background-position: -1074px -3819px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.meio-sustent_pointer_regador {
  width: 75px;
  height: 70px;
  background-position: -1389px -3819px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.meio-sustent_pointer_semente {
  width: 75px;
  height: 69px;
  background-position: -1466px -3819px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.page-map-pc_cariri2 {
  width: 329px;
  height: 209px;
  background-position: -3290px -3682px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.page-map-pc_sertao_dos_crateus {
  width: 216px;
  height: 314px;
  background-position: -1658px -3499px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.page-map-pc_sertao_dos_crateus2 {
  width: 216px;
  height: 311px;
  background-position: -3669px -3250px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.page-map-pc_vale_do_jaguaribe {
  width: 209px;
  height: 303px;
  background-position: -3669px -3563px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.saude-prato_laranjaprato {
  width: 83px;
  height: 75px;
  background-position: -1304px -3819px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.saude-prato_ovoprato {
  width: 198px;
  height: 84px;
  background-position: -1658px -3815px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
.spritesheet.saude-prato_prato {
  width: 695px;
  height: 318px;
  background-position: -961px -3499px;
  background-image: url('../images/spritesheet/sprite-2.png');
}
