.spritesheet.badge-eco-badge {
  width: 503px;
  height: 555px;
  background-position: -1086px -1710px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.badge-edu-badge {
  width: 503px;
  height: 557px;
  background-position: -2388px -839px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.badge-gov-badge {
  width: 503px;
  height: 554px;
  background-position: -635px -3177px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.badge-ino-badge {
  width: 503px;
  height: 554px;
  background-position: -1086px -2267px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.badge-laz-badge {
  width: 503px;
  height: 554px;
  background-position: -1591px -2303px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.badge-mei-badge {
  width: 503px;
  height: 551px;
  background-position: -2893px -839px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.badge-sau-badge {
  width: 503px;
  height: 552px;
  background-position: -2096px -2303px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.box-box-comment {
  width: 1713px;
  height: 836px;
  background-position: -1px -1px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.box-box-other-badges {
  width: 1293px;
  height: 836px;
  background-position: -1716px -1px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.box-box-regions-left {
  width: 392px;
  height: 160px;
  background-position: -1px -3733px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.box-box-robot-comment-down {
  width: 531px;
  height: 419px;
  background-position: -1554px -2859px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.box-robot-mini-blue {
  width: 204px;
  height: 253px;
  background-position: -3692px -1px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.btn-btn-op-no {
  width: 217px;
  height: 123px;
  background-position: -3680px -2920px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.btn-btn-op-yes {
  width: 217px;
  height: 124px;
  background-position: -3680px -2794px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_aventurim_lazer {
  width: 412px;
  height: 477px;
  background-position: -1140px -3146px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_bolinha1_lazer_aventurim {
  width: 73px;
  height: 73px;
  background-position: -1471px -3625px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_bolinha1_saude_remeldino {
  width: 73px;
  height: 73px;
  background-position: -2569px -2121px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_bolinha2_educ_mapamax {
  width: 73px;
  height: 73px;
  background-position: -3817px -755px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_bolinha2_lazer_esportanto {
  width: 73px;
  height: 73px;
  background-position: -3817px -830px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_bolinha2_saude_higiento {
  width: 73px;
  height: 73px;
  background-position: -3817px -905px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_bolinha3_educ_livrex {
  width: 73px;
  height: 73px;
  background-position: -3817px -980px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_bolinha3_lazer_dancitar {
  width: 73px;
  height: 73px;
  background-position: -3817px -1055px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_bolinha3_saude_alimeniro {
  width: 73px;
  height: 73px;
  background-position: -3817px -1130px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_bt_-addmoeda_educ {
  width: 221px;
  height: 133px;
  background-position: -1959px -3759px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_bt_addmoeda_lazer {
  width: 224px;
  height: 133px;
  background-position: -1733px -3759px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_ciencito_educ {
  width: 412px;
  height: 477px;
  background-position: -1554px -3280px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_dancitar_lazer {
  width: 412px;
  height: 477px;
  background-position: -1968px -3280px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_esportanto_lazer {
  width: 412px;
  height: 477px;
  background-position: -2251px -1504px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_higiento_saude {
  width: 412px;
  height: 477px;
  background-position: -2665px -1398px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_livrex_educ {
  width: 412px;
  height: 477px;
  background-position: -3079px -1392px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_mapamax_educ {
  width: 412px;
  height: 477px;
  background-position: -3089px -1871px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-monstrinhos_remeldino_saude {
  width: 412px;
  height: 477px;
  background-position: -2601px -2205px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-planta_cabeca_robo {
  width: 95px;
  height: 96px;
  background-position: -3756px -2587px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.economia-planta_item1_eco_bom {
  width: 101px;
  height: 101px;
  background-position: -3722px -3575px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolad_bt_informatica_add {
  width: 200px;
  height: 126px;
  background-position: -3668px -3045px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolad_bt_quimica {
  width: 98px;
  height: 149px;
  background-position: -3544px -3684px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolad_bt_quimica_add {
  width: 98px;
  height: 149px;
  background-position: -3622px -3533px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolad_bt_quimica_check {
  width: 98px;
  height: 149px;
  background-position: -3644px -3684px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolad_bt_quimica_menos {
  width: 98px;
  height: 149px;
  background-position: -3744px -3678px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolad_escoladentro {
  width: 1083px;
  height: 801px;
  background-position: -1px -1710px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolad_icon_danca {
  width: 157px;
  height: 109px;
  background-position: -3484px -3422px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolad_icon_informatica {
  width: 185px;
  height: 105px;
  background-position: -3712px -2687px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolaf_arvores2 {
  width: 126px;
  height: 181px;
  background-position: -3756px -2404px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolaf_bt_acessib_check {
  width: 123px;
  height: 146px;
  background-position: -3607px -3272px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolaf_bt_arbori_check {
  width: 121px;
  height: 150px;
  background-position: -992px -3733px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolaf_bt_arbori_menos {
  width: 121px;
  height: 148px;
  background-position: -3484px -3272px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolaf_bt_parque_add {
  width: 115px;
  height: 149px;
  background-position: -3505px -3533px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolaf_bt_parque_check {
  width: 115px;
  height: 150px;
  background-position: -3388px -3544px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolaf_bt_parque_menos {
  width: 115px;
  height: 150px;
  background-position: -3732px -3272px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolaf_bt_parque_normal {
  width: 115px;
  height: 149px;
  background-position: -3730px -3424px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolaf_escolafora_antes {
  width: 953px;
  height: 662px;
  background-position: -1px -2513px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolaf_escolafora_pintada {
  width: 953px;
  height: 663px;
  background-position: -1433px -839px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolaf_horta {
  width: 306px;
  height: 137px;
  background-position: -395px -3733px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-escolaf_onibusescolar {
  width: 279px;
  height: 158px;
  background-position: -3107px -3544px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-sala_icon_luz {
  width: 93px;
  height: 136px;
  background-position: -2569px -1983px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.educacao-sala_quadrosala {
  width: 658px;
  height: 416px;
  background-position: -1591px -1504px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.governo-campinho_crianca1_vermelha {
  width: 115px;
  height: 267px;
  background-position: -1406px -2823px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.governo-campinho_crianca2_amarela {
  width: 115px;
  height: 268px;
  background-position: -956px -2513px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.governo-ong_cesta_governo {
  width: 219px;
  height: 113px;
  background-position: -2886px -3778px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.governo-radio_cesta_governo {
  width: 219px;
  height: 113px;
  background-position: -2886px -3778px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.inovacao-bebedouro_bebedouro {
  width: 679px;
  height: 816px;
  background-position: -3011px -1px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.inovacao-bebedouro_garrafao {
  width: 210px;
  height: 283px;
  background-position: -2345px -2857px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.inovacao-bebedouro_regador {
  width: 289px;
  height: 194px;
  background-position: -2382px -3559px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.inovacao-bebedouro_vasinho {
  width: 137px;
  height: 175px;
  background-position: -1433px -1504px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.inovacao-bicogarrafa {
  width: 219px;
  height: 143px;
  background-position: -2382px -3755px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.inovacao-carrinho_cxafeedback {
  width: 1430px;
  height: 869px;
  background-position: -1px -839px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.inovacao-carrinho_sensorprox_carro {
  width: 340px;
  height: 312px;
  background-position: -2227px -1983px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.inovacao-foguete_meio1 {
  width: 354px;
  height: 381px;
  background-position: -3503px -1765px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.inovacao-foguete_meio2 {
  width: 335px;
  height: 334px;
  background-position: -3014px -2755px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.inovacao-foguete_meio3 {
  width: 448px;
  height: 321px;
  background-position: -956px -2823px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.lazer-album1_pg1_cuscuz_fita {
  width: 215px;
  height: 268px;
  background-position: -2673px -3506px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.lazer-album1_pg2_saojoao2_fita {
  width: 215px;
  height: 268px;
  background-position: -2890px -3508px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.logo-logoceara {
  width: 251px;
  height: 86px;
  background-position: -3107px -3811px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_cestacheia_cozinha {
  width: 332px;
  height: 254px;
  background-position: -3503px -2148px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_cestacheia_horta {
  width: 422px;
  height: 326px;
  background-position: -2665px -1877px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_cestavazia {
  width: 326px;
  height: 281px;
  background-position: -3428px -2404px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_cestavazia1 {
  width: 326px;
  height: 281px;
  background-position: -3156px -3091px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_cestavazia3 {
  width: 326px;
  height: 168px;
  background-position: -3156px -3374px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_lata {
  width: 85px;
  height: 97px;
  background-position: -3643px -3420px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_lixeiraorganico_aberta {
  width: 256px;
  height: 415px;
  background-position: -2087px -2859px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_lixeirapapel_aberta {
  width: 256px;
  height: 415px;
  background-position: -2382px -3142px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_lixeiraplastico_aberta {
  width: 256px;
  height: 415px;
  background-position: -2640px -3089px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_lixeiravidro_aberta {
  width: 256px;
  height: 415px;
  background-position: -2898px -3091px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_pc5 {
  width: 151px;
  height: 159px;
  background-position: -3391px -3696px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_sacola1 {
  width: 133px;
  height: 166px;
  background-position: -3533px -3005px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_sacola2 {
  width: 166px;
  height: 97px;
  background-position: -3699px -3173px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_taca {
  width: 68px;
  height: 123px;
  background-position: -3015px -2205px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_tomate {
  width: 70px;
  height: 66px;
  background-position: -3825px -3575px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.meio-sustent_torneira {
  width: 168px;
  height: 256px;
  background-position: -3692px -497px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.page-map-pc_cariri {
  width: 329px;
  height: 208px;
  background-position: -1140px -3625px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.page-map-pc_serra_da_ibiapaba {
  width: 145px;
  height: 209px;
  background-position: -3533px -2794px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.page-map-pc_sertao_de_caninde {
  width: 187px;
  height: 239px;
  background-position: -3692px -256px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.page-map-pc_sertao_dos_inhamuns {
  width: 180px;
  height: 236px;
  background-position: -3351px -2794px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.quiz-quiz_box-all-badges {
  width: 634px;
  height: 379px;
  background-position: -1591px -1922px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.quiz-quiz_box-single-badge {
  width: 632px;
  height: 554px;
  background-position: -1px -3177px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.saude-parquinho_prancheta-3 {
  width: 390px;
  height: 395px;
  background-position: -3493px -1368px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.saude-parquinho_balanco {
  width: 411px;
  height: 403px;
  background-position: -3015px -2350px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.saude-parquinho_balanco1 {
  width: 411px;
  height: 403px;
  background-position: -2601px -2684px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.saude-parquinho_cxa_muitaenergia {
  width: 282px;
  height: 105px;
  background-position: -3107px -3704px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.saude-parquinho_cxa_poucaenergia {
  width: 282px;
  height: 105px;
  background-position: -3428px -2687px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.saude-parquinho_escorrega {
  width: 417px;
  height: 547px;
  background-position: -3398px -819px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.saude-prato_arroz {
  width: 281px;
  height: 115px;
  background-position: -2603px -3776px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.saude-prato_arrozprato {
  width: 185px;
  height: 130px;
  background-position: -2182px -3759px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.saude-prato_banana {
  width: 287px;
  height: 149px;
  background-position: -703px -3733px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.saude-prato_batatadoce {
  width: 213px;
  height: 97px;
  background-position: -3484px -3173px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.saude-prato_carne {
  width: 261px;
  height: 99px;
  background-position: -2388px -1398px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
.spritesheet.saude-prato_carneprato {
  width: 260px;
  height: 136px;
  background-position: -1471px -3759px;
  background-image: url('../images/spritesheet/sprite-5.png');
}
