.spritesheet.pc_cariri {
  background-image: url('../images/spritesheet2.png');
  background-position: -334px -0px;
  width: 329px;
  height: 208px;
}

.spritesheet.pc_cariri2 {
  background-image: url('../images/spritesheet2.png');
  background-position: -0px -0px;
  width: 329px;
  height: 209px;
}

.spritesheet.pc_centro_sul {
  background-image: url('../images/spritesheet2.png');
  background-position: -280px -533px;
  width: 237px;
  height: 167px;
}

.spritesheet.pc_grande_fortaleza {
  background-image: url('../images/spritesheet2.png');
  background-position: -408px -712px;
  width: 180px;
  height: 178px;
}

.spritesheet.pc_litoral_leste {
  background-image: url('../images/spritesheet2.png');
  background-position: -0px -712px;
  width: 200px;
  height: 184px;
}

.spritesheet.pc_litoral_leste2 {
  background-image: url('../images/spritesheet2.png');
  background-position: -205px -712px;
  width: 198px;
  height: 182px;
}

.spritesheet.pc_litoral_norte {
  background-image: url('../images/spritesheet2.png');
  background-position: -0px -533px;
  width: 275px;
  height: 174px;
}

.spritesheet.pc_litoral_oeste {
  background-image: url('../images/spritesheet2.png');
  background-position: -924px -485px;
  width: 175px;
  height: 207px;
}

.spritesheet.pc_litoral_oeste2 {
  background-image: url('../images/spritesheet2.png');
  background-position: -0px -901px;
  width: 172px;
  height: 205px;
}

.spritesheet.pc_macico_de_baturite {
  background-image: url('../images/spritesheet2.png');
  background-position: -1116px -427px;
  width: 128px;
  height: 109px;
}

.spritesheet.pc_macico_de_baturite2 {
  background-image: url('../images/spritesheet2.png');
  background-position: -1116px -541px;
  width: 126px;
  height: 107px;
}

.spritesheet.pc_serra_da_ibiapaba {
  background-image: url('../images/spritesheet2.png');
  background-position: -1116px -213px;
  width: 145px;
  height: 209px;
}

.spritesheet.pc_serra_da_ibiapaba2 {
  background-image: url('../images/spritesheet2.png');
  background-position: -1116px -0px;
  width: 146px;
  height: 208px;
}

.spritesheet.pc_sertao_central {
  background-image: url('../images/spritesheet2.png');
  background-position: -668px -0px;
  width: 251px;
  height: 247px;
}

.spritesheet.pc_sertao_central2 {
  background-image: url('../images/spritesheet2.png');
  background-position: -668px -252px;
  width: 249px;
  height: 242px;
}

.spritesheet.pc_sertao_de_caninde {
  background-image: url('../images/spritesheet2.png');
  background-position: -924px -0px;
  width: 187px;
  height: 239px;
}

.spritesheet.pc_sertao_de_sobral {
  background-image: url('../images/spritesheet2.png');
  background-position: -177px -901px;
  width: 179px;
  height: 197px;
}

.spritesheet.pc_sertao_dos_crateus {
  background-image: url('../images/spritesheet2.png');
  background-position: -0px -214px;
  width: 216px;
  height: 314px;
}

.spritesheet.pc_sertao_dos_crateus2 {
  background-image: url('../images/spritesheet2.png');
  background-position: -221px -214px;
  width: 216px;
  height: 311px;
}

.spritesheet.pc_sertao_dos_inhamuns {
  background-image: url('../images/spritesheet2.png');
  background-position: -924px -244px;
  width: 180px;
  height: 236px;
}

.spritesheet.pc_vale_do_jaguaribe {
  background-image: url('../images/spritesheet2.png');
  background-position: -442px -214px;
  width: 209px;
  height: 303px;
}

