.spritesheet.bg-home {
  width: 1920px;
  height: 1081px;
  background-position: -1924px -2167px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.bg-cenariogoverno_ong {
  width: 1921px;
  height: 1081px;
  background-position: -1px -1px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.bg-cenariogoverno_radio {
  width: 1921px;
  height: 1081px;
  background-position: -1924px -1px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.bg-cenariogoverno_radio3 {
  width: 1921px;
  height: 1081px;
  background-position: -1px -1084px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.bg-cenarioprefeitura_governo {
  width: 1921px;
  height: 1081px;
  background-position: -1924px -1084px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.economia-monstrinhos_bg_monstrinhos_economia {
  width: 1921px;
  height: 1081px;
  background-position: -1px -2167px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.economia-planta_item1_eco_ruim {
  width: 101px;
  height: 101px;
  background-position: -3733px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-escolad_biblioteca {
  width: 304px;
  height: 217px;
  background-position: -3234px -3470px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-escolad_bt_informatica_check {
  width: 200px;
  height: 126px;
  background-position: -3242px -3689px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-escolad_bt_informatica_menos {
  width: 199px;
  height: 125px;
  background-position: -3444px -3689px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-escolad_bt_livros_check_1 {
  width: 148px;
  height: 117px;
  background-position: -1482px -3778px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-escolad_cantina {
  width: 303px;
  height: 217px;
  background-position: -3428px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-escolad_labciencias {
  width: 303px;
  height: 218px;
  background-position: -3123px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-escolad_labinformatica {
  width: 304px;
  height: 219px;
  background-position: -2928px -3471px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-escolad_saladanca {
  width: 305px;
  height: 219px;
  background-position: -2816px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-escolad_salamusica {
  width: 306px;
  height: 220px;
  background-position: -2508px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-escolad_salateatro {
  width: 302px;
  height: 220px;
  background-position: -2624px -3472px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-escolaf_bt_bus_add {
  width: 175px;
  height: 128px;
  background-position: -2114px -3752px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-escolaf_icon_parquinho {
  width: 106px;
  height: 145px;
  background-position: -2006px -3752px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-escolaf_rampaacessibilidade {
  width: 158px;
  height: 82px;
  background-position: -1322px -3798px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.educacao-sala_icon_quadro {
  width: 202px;
  height: 116px;
  background-position: -1632px -3778px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.governo-ong_alface {
  width: 85px;
  height: 87px;
  background-position: -1235px -3798px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.inovacao-bico2 {
  width: 202px;
  height: 112px;
  background-position: -3645px -3469px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.inovacao-carrinho_leds_carro {
  width: 270px;
  height: 279px;
  background-position: -1064px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.inovacao-carrinho_placa_foracarro {
  width: 168px;
  height: 121px;
  background-position: -1836px -3776px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.inovacao-carrinho_roda_carro {
  width: 285px;
  height: 311px;
  background-position: -261px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.lazer-album1_card1 {
  width: 242px;
  height: 251px;
  background-position: -1771px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.lazer-album1_card2 {
  width: 241px;
  height: 255px;
  background-position: -218px -3637px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.lazer-album1_pg1_couro_fita {
  width: 215px;
  height: 261px;
  background-position: -1670px -3513px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.lazer-album1_pg1_panelada_fita {
  width: 215px;
  height: 262px;
  background-position: -1336px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.lazer-album1_pg1_tecelagem_fita {
  width: 215px;
  height: 259px;
  background-position: -1px -3637px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.lazer-album1_pg2_caninde_fita {
  width: 215px;
  height: 262px;
  background-position: -1453px -3514px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.lazer-album1_pg2_indios_fita {
  width: 216px;
  height: 261px;
  background-position: -1553px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.lazer-album1_placeholderfigOK {
  width: 216px;
  height: 265px;
  background-position: -1235px -3531px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.meio-sustent_alface2 {
  width: 132px;
  height: 123px;
  background-position: -3645px -3701px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.meio-sustent_cenoura {
  width: 212px;
  height: 160px;
  background-position: -2568px -3696px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.meio-sustent_lixeirametal_fechada {
  width: 256px;
  height: 302px;
  background-position: -461px -3563px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.meio-sustent_lixeiraorganico_fechada {
  width: 256px;
  height: 302px;
  background-position: -548px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.meio-sustent_lixeirapapel_fechada {
  width: 256px;
  height: 302px;
  background-position: -719px -3554px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.meio-sustent_lixeiraplastico_fechada {
  width: 256px;
  height: 302px;
  background-position: -806px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.meio-sustent_lixeiravidro_fechada {
  width: 256px;
  height: 302px;
  background-position: -977px -3554px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.meio-sustent_pc1 {
  width: 228px;
  height: 159px;
  background-position: -2782px -3694px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.meio-sustent_pc8 {
  width: 228px;
  height: 159px;
  background-position: -3012px -3692px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.meio-sustent_tomate2 {
  width: 258px;
  height: 385px;
  background-position: -1px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.page-map-pc_litoral_norte {
  width: 275px;
  height: 174px;
  background-position: -2291px -3718px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.page-map-pc_sertao_central {
  width: 251px;
  height: 247px;
  background-position: -1887px -3503px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.page-map-pc_sertao_central2 {
  width: 249px;
  height: 242px;
  background-position: -2015px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.quiz-quiz_eco-badge-2x {
  width: 240px;
  height: 221px;
  background-position: -2266px -3250px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.quiz-quiz_edu-badge-2x {
  width: 240px;
  height: 222px;
  background-position: -2140px -3494px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.quiz-quiz_laz-badge-2x {
  width: 240px;
  height: 221px;
  background-position: -2382px -3473px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
.spritesheet.saude-prato_jujubas {
  width: 200px;
  height: 116px;
  background-position: -3645px -3583px;
  background-image: url('../images/spritesheet/sprite-3.png');
}
