<section id="comment">
	<div class="sound-btn"><button class="toggle sound"></button></div>
		<div class="music-btn"><button class="toggle music"></button></div>

	<div class="robot-comment">
		<div class="content centered">
			<div class="content-left">
				<li><img id="img" src="img/comment/robot-bodyoff.png"title="Robot"> <div id="AnimacaoRoboComment"></div></li>
			</div>

			<div class="content-right">
				<li><div id="text-comment"></div></li>
				<li><div id="more">
					<button id='go-comment' onmouseover="playAudioMS()" onclick="playAudioButton()" class='action blue'>Vamos lá!</button>
				</div></li>
			</div>

		</div>
	</div>

	<audio preload="metadata" id="A_eco">
		<source src="sounds/falas/start_desafios/eco.wav">
	</audio>
	<audio preload="metadata" id="A_edu">
		<source src="sounds/falas/start_desafios/edu.wav">
	</audio>
	<audio preload="metadata" id="A_gov">
		<source src="sounds/falas/start_desafios/gov.wav">
	</audio>
	<audio preload="metadata" id="A_ino">
		<source src="sounds/falas/start_desafios/ino.wav">
	</audio>
	<audio preload="metadata" id="A_laz">
		<source src="sounds/falas/start_desafios/laz.wav">
	</audio>
	<audio preload="metadata" id="A_sau">
		<source src="sounds/falas/start_desafios/sau.wav">
	</audio>
	<audio preload="metadata" id="A_mei">
		<source src="sounds/falas/start_desafios/mei.wav">
	</audio>
</section>
