<section id="congrats"> 
	<div class="sound-btn"><button class="toggle sound"></button></div>
		<div class="music-btn"><button class="toggle music"></button></div>

	<div class="robot-congrats">
		<div class="content centered">
			<div class="content-left">
				<li><div id="AnimacaoRoboCongrats"></div><img id="img" src="img/robot-placeholder-orange1.png" title="Robot"></li>
				<li><div id="text-comment"><p id="text-comment-p"></p><button class='toggle repeat'></button></div></li>
			</div>
			
			<div class="content-right">
				<img>
				<div class="none-stars" id="stars"></div>
				<button id='go-congrats'  onclick="playAudioButton()" class='toggle next'></button>		
			</div>
			
		</div>
	</div>

	<audio preload="metadata" id="parabensSom">
		<source src="sounds/feedback/mapa/Sucesso.mp3">
	</audio>
</section>