<section id="cutscene"> 
	<div class="back-btn-cut"><button class="prevF" onclick="backStage()"></button></div>
	<div class="sound-btn"><button class="toggle sound"></button></div>
		<!--<div class="music-btn"><button class="toggle music"></button></div>-->
	
	<div class="content centered">
		  <video id="cutscene_video">
		    <source type="video/mp4">
		    <!-- <source src="video/video.ogg" type="video/ogg"> -->
		    Ops! Seu navegador não suporta esse tipo de vídeo.
		  </video>
		  
		  <button class="toggle play"></button>
		  <button class="toggle pause"></button>
		  <button  onclick="playAudioButton()" class="action white">Pular</button>
	</div>
</section>
