<section id="desafiomonstrinhos">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_eco1">
		<source src="sounds/falas/desafios/eco/help1.wav">
	</audio>

	<div class="sound-btn"><button class="toggle sound"></button></div>
		<div class="music-btn"><button class="toggle music"></button></div>

	<button onmouseover="playAudioMS()" class="addMoedaEdu addMoedaEdu1" id="btn_addMoedaEdu"></button>
	<button onmouseover="playAudioMS()" class="addMoedaSau addMoedaSau1" id="btn_addMoedaSau"></button>
	<button onmouseover="playAudioMS()" class="addMoedaLaz addMoedaLaz1" id="btn_addMoedaLaz"></button>
	<div id="animacaoEduc"></div>
	<div id="animacaoSaude"></div>
	<div id="animacaoLazer"></div>

	<img class="all_bolinhas" id="bolaEduc1" src="img/desafios/economia/Monstrinhos/bolinha1_educ_ciencito.png">
	<img class="all_bolinhas" id="bolaEduc2" src="img/desafios/economia/Monstrinhos/bolinha2_educ_mapamax.png">
	<img class="all_bolinhas" id="bolaEduc3" src="img/desafios/economia/Monstrinhos/bolinha3_educ_livrex.png">

	<img class="all_bolinhas" id="bolaSau1" src="img/desafios/economia/Monstrinhos/bolinha1_saude_remeldino.png">
	<img class="all_bolinhas" id="bolaSau2" src="img/desafios/economia/Monstrinhos/bolinha2_saude_higiento.png">
	<img class="all_bolinhas" id="bolaSau3" src="img/desafios/economia/Monstrinhos/bolinha3_saude_alimeniro.png">

	<img class="all_bolinhas" id="bolaLaz1" src="img/desafios/economia/Monstrinhos/bolinha1_lazer_aventurim.png">
	<img class="all_bolinhas" id="bolaLaz2" src="img/desafios/economia/Monstrinhos/bolinha2_lazer_esportanto.png">
	<img class="all_bolinhas" id="bolaLaz3" src="img/desafios/economia/Monstrinhos/bolinha3_lazer_dancitar.png">
	<div id="AnimacaoClickMonstrinhos"></div>



	<img id="totalmoedasM" src="img/desafios/economia/Planta Casa/rectmoeda_menor.png">
	<img id="ic_moedaM" src="img/desafios/economia/Planta Casa/moeda_eco.png">
	<div id="qtd_moedaM"></div>

	<div class="div_monstrinhos" id="M_preto"></div>
	<div class="div_monstrinhos" id="div_monstrinhos">
		<img id="bg_monstrinhos" src="img/desafios/economia/Monstrinhos/bg-other-badges.png">
		<img id="img_monstrinho" src="img/desafios/economia/Monstrinhos/higiento_saude.png">
		<div id="nome_monstrinho">HIGIENTO</div>
		<div id="desc_monstrinho">Te deixa sempre limpo e longe de bichinhos.</div>
		<button onmouseover="playAudioMS()" onmouseover="plauAudioButton()" class="action blue" id="guardar_monstrinhos">GUARDAR</button>
	</div>

	<!-- Robot help -->
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>

</section>
