<section id="desafioescoladentro">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_edu1">
		<source src="sounds/falas/desafios/edu/help1.wav">
	</audio>

	<div class="sound-btn"><button class="toggle sound"></button></div>
		<div class="music-btn"><button class="toggle music"></button></div>

		<img id="escoladentro_antes" src="img/desafios/educacao/Escoladentro/escoladentro.png">

		<img id="barradeitensEscola" src="img/desafios/educacao/barradeitens.png">

		<button onclick="playAudioButton()" class="iconNormalD btnBiblioteca1" id="icon_biblioteca1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Mais conhecimento"></button>
		<button onclick="playAudioButton()" class="iconNormalD btnTeatro1" id="icon_teatro1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Peças teatrais feitas pelos meus amigos"></button>
		<button onclick="playAudioButton()"  class="iconNormalD btnCantina1" id="icon_cantina1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Comidas muito gostosas"></button>
		<button onclick="playAudioButton()"  class="iconNormalD btnMusica1" id="icon_musica1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Muitos músicos"></button>
		<button onclick="playAudioButton()"  class="iconNormalD btnInformatica1" id="icon_informatica1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Um mundo digital"></button>
		<button onclick="playAudioButton()"  class="iconNormalD btnQuimica1" id="icon_quimica1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Um lugar para fazer exeperimentos"></button>
		<button onclick="playAudioButton()"  class="iconNormalD btnDanca1" id="icon_danca1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Muitos dançarinos"></button>


		<button onclick="playAudioButton()"  class="iconCheckD btnBiblioteca2" id="icon_biblioteca2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Mais conhecimento"></button>
		<button onclick="playAudioButton()"  class="iconCheckD btnTeatro2" id="icon_teatro2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Peças teatrais feitas pelos meus amigos"></button>
		<button onclick="playAudioButton()"  class="iconCheckD btnCantina2" id="icon_cantina2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Comidas muito gostosas"></button>
		<button onclick="playAudioButton()"  class="iconCheckD btnMusica2" id="icon_musica2"  data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Muitos músicos"></button>
		<button onclick="playAudioButton()"  class="iconCheckD btnInformatica2" id="icon_informatica2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Um mundo digital"></button>
		<button onclick="playAudioButton()" class="iconCheckD btnQuimica2" id="icon_quimica2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Um lugar para fazer exeperimentos"></button>
		<button onclick="playAudioButton()" class="iconCheckD btnDanca2" id="icon_danca2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Muitos dançarinos"></button>

		<img id="imgBiblioteca" src="img/desafios/educacao/Escoladentro/biblioteca.png">
		<img id="imgTeatro" src="img/desafios/educacao/Escoladentro/salateatro.png">
		<img id="imgCantina" src="img/desafios/educacao/Escoladentro/cantina.png">
		<img id="imgMusica" src="img/desafios/educacao/Escoladentro/salamusica.png">
		<img id="imgInformatica" src="img/desafios/educacao/Escoladentro/labinformatica.png">
		<img id="imgQuimica" src="img/desafios/educacao/Escoladentro/labciencias.png">
		<img id="imgDanca" src="img/desafios/educacao/Escoladentro/saladanca.png">

		<div id="AnimacaoClickEscolaDentro"></div>

		<button class="next" id="btnNextEscolaDentro"></button>

		<div class="popoverED" id="blackEscolaDentro"></div>
		<img class="popoverED" id="caixafeedbackEscolaDentro" src="img/desafios/educacao/caixafeedback.png">
		<div class="popoverED" id="minhaescolatemED">MINHA ESCOLA TEM...</div>
		<img class="popoverED" id="imgEscolaDentro1" src="">
		<img class="popoverED" id="imgEscolaDentro2" src="">
		<img class="popoverED" id="imgEscolaDentro3" src="">
		<img class="popoverED" id="imgEscolaDentro4" src="">
		<img class="popoverED" id="imgEscolaDentro5" src="">
		<div class="popoverED" id="TxtEscolaDentro1"></div>
		<div class="popoverED" id="TxtEscolaDentro2"></div>
		<div class="popoverED" id="TxtEscolaDentro3"></div>
		<div class="popoverED" id="TxtEscolaDentro4"></div>
		<div class="popoverED" id="TxtEscolaDentro5"></div>
		<button onclick="playAudioButton()" id="btnTrocarED" class="action blue popoverED">TROCAR</button>
		<button onclick="playAudioButton()" id="btnSalvarED" class="action blue popoverED" >SALVAR</button>

		<!-- Robot help -->
		<div id="help" style="display: none;">
			<div class="backdrop">
				<div class="robot-help">
					<div id="AnimacaoRoboHelp"></div>
					<div class="content">
						<li><h4></h4></li>
						<li><p></p></li>
					</div>
					<button id='repeat-btn' class='toggle repeat'></button>
					<button id='close-btn' class='toggle exit'></button>
				</div>
			</div>
			<div id="robot-help-mini" style="display: none;">
				<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
			</div>
		</div>
</section>
