<section id="desafioescolasala">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_edu2">
		<source src="sounds/falas/desafios/edu/help2.wav">
	</audio>

		<div class="sound-btn"><button class="toggle sound"></button></div>
			<div class="music-btn"><button class="toggle music"></button></div>
		<img class="imgEscolaSala" id="SalaCadeiras" src="img/desafios/educacao/Sala/carteirassala.png">
		<img class="imgEscolaSala" id="SalaLivros" src="img/desafios/educacao/Sala/livrossala.png">
		<img class="imgEscolaSala" id="SalaLapis" src="img/desafios/educacao/Sala/lapissala.png">
		<img class="imgEscolaSala" id="SalaQuadro" src="img/desafios/educacao/Sala/quadrosala.png">
		<img class="imgEscolaSala" id="SalaGlobo" src="img/desafios/educacao/Sala/globosala.png">
		<img class="imgEscolaSala" id="SalaLixeira" src="img/desafios/educacao/Sala/lixeirasala.png">
		<img class="imgEscolaSala" id="SalaLuz" src="img/desafios/educacao/Sala/luzsala.png">

		<img id="barradeitensEscola" src="img/desafios/educacao/barradeitens.png">

		<button onclick="playAudioButton()" class="iconNormalS btnCadeiras1" id="icon_cadeiras1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Lugares confortáveis para escrever"></button>
		<button onclick="playAudioButton()" class="iconNormalS btnLivros1" id="icon_livros1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Livros com muita aventura"></button>
		<button onclick="playAudioButton()" class="iconNormalS btnLapis1" id="icon_lapis1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Lápis de todas as cores"></button>
		<button onclick="playAudioButton()" class="iconNormalS btnQuadro1" id="icon_quadro1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Onde o professor escrever"></button>
		<button onclick="playAudioButton()" class="iconNormalS btnGlobo1" id="icon_globo1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Onde ver todos os países"></button>
		<button onclick="playAudioButton()" class="iconNormalS btnLixeira1" id="icon_lixeira1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Chão limpo sempre"></button>
		<button onclick="playAudioButton()" class="iconNormalS btnLuz1" id="icon_luz1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Iluminação boa"></button>

		<button onclick="playAudioButton()" class="iconCheckS btnCadeiras2" id="icon_cadeiras2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Lugares confortáveis para escrever"></button>
		<button onclick="playAudioButton()" class="iconCheckS btnLivros2" id="icon_livros2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Livros com muita aventura"></button>
		<button onclick="playAudioButton()" class="iconCheckS btnLapis2" id="icon_lapis2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Lápis de todas as cores"></button>
		<button onclick="playAudioButton()" class="iconCheckS btnQuadro2" id="icon_quadro2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Onde o professor escrever"></button>
		<button onclick="playAudioButton()" class="iconCheckS btnGlobo2" id="icon_globo2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Onde ver todos os países"></button>
		<button onclick="playAudioButton()" class="iconCheckS btnLixeira2" id="icon_lixeira2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Chão limpo sempre"></button>
		<button onclick="playAudioButton()" class="iconCheckS btnLuz2" id="icon_luz2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Iluminação boa"></button>

		<div id="AnimacaoClickEscolaSala"></div>
		<button class="next" id="btnNextSala"></button>

		<div class="popoverES" id="blackEscolaSala"></div>
		<img class="popoverES" id="caixafeedbackEscolaSala" src="img/desafios/educacao/caixafeedback.png">
		<div class="popoverES" id="minhaescolatemES">MINHA ESCOLA TEM...</div>
		<img class="popoverES" id="imgEscolaSala1" src="">
		<img class="popoverES" id="imgEscolaSala2" src="">
		<img class="popoverES" id="imgEscolaSala3" src="">
		<img class="popoverES" id="imgEscolaSala4" src="">
		<img class="popoverES" id="imgEscolaSala5" src="">
		<div class="popoverES" id="TxtEscolaSala1"></div>
		<div class="popoverES" id="TxtEscolaSala2"></div>
		<div class="popoverES" id="TxtEscolaSala3"></div>
		<div class="popoverES" id="TxtEscolaSala4"></div>
		<div class="popoverES" id="TxtEscolaSala5"></div>
		<button onclick="playAudioButton()" id="btnTrocarES" class="action blue popoverES">TROCAR</button>
		<button onclick="playAudioButton()" id="btnSalvarES" class="action blue popoverES" >SALVAR</button>


	<!-- Robot help -->
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>

</section>
