<section id="desafioescolafora">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_edu0">
		<source src="sounds/falas/desafios/edu/help0.wav">
	</audio>

	<div class="sound-btn"><button class="toggle sound"></button></div>
		<div class="music-btn"><button class="toggle music"></button></div>

		<img id="escolafora_antes" src="img/desafios/educacao/Escolafora/escolafora_antes.png">

		<img class="imagensEF" id="escolafora_pintada" src="img/desafios/educacao/Escolafora/escolafora_pintada.png">
		<img class="imagensEF" id="rampaacessibilidade" src="img/desafios/educacao/Escolafora/rampaacessibilidade.png">
		<img class="imagensEF" id="lixeirasseletivas" src="img/desafios/educacao/Escolafora/lixeirasseletivas.png">
		<img class="imagensEF" id="parquinhoescola" src="img/desafios/educacao/Escolafora/parquinho.png">
		<img class="imagensEF" id="hortaescola" src="img/desafios/educacao/Escolafora/horta.png">
		<img class="imagensEF" id="onibusescolar" src="img/desafios/educacao/Escolafora/onibusescolar.png">
		<img class="imagensEF" id="arvoreescola1" src="img/desafios/educacao/Escolafora/arvores1.png">
		<img class="imagensEF" id="arvoreescola2" src="img/desafios/educacao/Escolafora/arvores2.png">

		<img id="barradeitensEscola" src="img/desafios/educacao/barradeitens.png">



		<button onclick="playAudioButton()" class="iconNormalF btnAcessibilidade1" id="icon_acessibilidade1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Facilidade para quem usa cadeira de rodas"></button>
		<button onclick="playAudioButton()" class="iconNormalF btnPintar1" id="icon_pintar1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Cores bonitas"></button>
		<button onclick="playAudioButton()" class="iconNormalF btnArborizar1" id="icon_arborizar1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Mais sombra e ar fresco"></button>
		<button onclick="playAudioButton()" class="iconNormalF btnOnibus1" id="icon_onibus1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Mais aulas pela cidade"></button>
		<button onclick="playAudioButton()" class="iconNormalF btnHorta1" id="icon_horta1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Alimentos colhidos na horta"></button>
		<button onclick="playAudioButton()" class="iconNormalF btnParque1" id="icon_parquinho1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Um recreio divertido"></button>
		<button onclick="playAudioButton()" class="iconNormalF btnLixo1" id="icon_lixo1" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Lixo separadinho"></button>

		<button onclick="playAudioButton()" class="iconCheckF btnAcessibilidade2" id="icon_acessibilidade2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Facilidade para quem usa cadeira de rodas"></button>
		<button onclick="playAudioButton()" class="iconCheckF btnPintar2" id="icon_pintar2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Cores bonitas"></button>
		<button onclick="playAudioButton()" class="iconCheckF btnArborizar2" id="icon_arborizar2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Mais sombra e ar fresco"></button>
		<button onclick="playAudioButton()" class="iconCheckF btnOnibus2" id="icon_onibus2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Mais aulas pela cidade"></button>
		<button onclick="playAudioButton()" class="iconCheckF btnHorta2" id="icon_horta2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Alimentos colhidos na horta"></button>
		<button onclick="playAudioButton()" class="iconCheckF btnParque2" id="icon_parquinho2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Um recreio divertido"></button>
		<button onclick="playAudioButton()" class="iconCheckF btnLixo2" id="icon_lixo2" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Lixo separadinho"></button>


		<div id="AnimacaoClickEscolaFora"></div>
		<button class="next" id="btnNextEscola"></button>

		<div class="popoverEF" id="blackEscolaFora"></div>
		<img class="popoverEF" id="caixafeedbackEscolaFora" src="img/desafios/educacao/caixafeedback.png">
		<div class="popoverEF" id="minhaescolatemEF">MINHA ESCOLA TEM...</div>
		<img class="popoverEF" id="imgEscolaFora1" src="">
		<img class="popoverEF" id="imgEscolaFora2" src="">
		<img class="popoverEF" id="imgEscolaFora3" src="">
		<img class="popoverEF" id="imgEscolaFora4" src="">
		<img class="popoverEF" id="imgEscolaFora5" src="">
		<div class="popoverEF" id="TxtEscolaFora1"></div>
		<div class="popoverEF" id="TxtEscolaFora2"></div>
		<div class="popoverEF" id="TxtEscolaFora3"></div>
		<div class="popoverEF" id="TxtEscolaFora4"></div>
		<div class="popoverEF" id="TxtEscolaFora5"></div>
		<button onclick="playAudioButton()" id="btnTrocarEF" class="action blue popoverEF">TROCAR</button>
		<button onclick="playAudioButton()" id="btnSalvarEF" class="action blue popoverEF" >SALVAR</button>


		<!-- Robot help -->
		<div id="help" style="display: none;">
			<div class="backdrop">
				<div class="robot-help">
					<div id="AnimacaoRoboHelp"></div>
					<div class="content">
						<li><h4></h4></li>
						<li><p></p></li>
					</div>
					<button id='repeat-btn' class='toggle repeat'></button>
					<button id='close-btn' class='toggle exit'></button>
				</div>
			</div>
			<div id="robot-help-mini" style="display: none;">
				<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
			</div>
		</div>

</section>
