<section id="feedback">
	<div class="sound-btn"><button class="toggle sound"></button></div>
		<div class="music-btn"><button class="toggle music"></button></div>

		<audio preload="metadata" id="fala_feedback">
			<source src="sounds/falas/feedback/fala1.wav">
		</audio>

	<div class="robot-question">
		<li><img id="img" src="img/robot-placeholder-orange1.png" ><div id="AnimacaoRoboFeedback"></div></li>
		<li><div id="text-comment" class="centeredX"><p>
			Você gostou de ajudar o Ceará comigo?
		</p><button class='toggle repeat'></button></div></li>
		<li id="options">
			<button  onclick="playAudioButton()" class="action yes"></button>
			<button  onclick="playAudioButton()" class="action no"></button>
		</li>
	</div>
	<div class="form-question">
		<div class="content centered" id="question-content">
			<li class='center-title'><h4>Quer contar algo?</h4></li>
      		<li><form><textarea id="feedback-text" name="feedback" placeholder='Pode escrever aqui'></textarea></form></li>
      		<li><button id='submit-feedback' class='action orange'  onclick="playAudioButton()" >Enviar</button></li>
		</div>
	</div>
</section>
