<section id="desafioONG">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_gov1">
		<source src="sounds/falas/desafios/gov/help1.wav">
	</audio>
	<div class="sound-btn"><button class="toggle sound"></button></div>

		<div class="music-btn"><button class="toggle music"></button></div>
	<img onmouseover="playAudioMS()" class="alimentosRua" id="alfaceONG" src="img/desafios/governo/ONG/item_alface.png">
		<img onmouseover="playAudioMS()" class="alimentosRua" id="bananaONG" src="img/desafios/governo/ONG/item_banana.png">
		<img onmouseover="playAudioMS()" class="alimentosRua" id="cenouraONG" src="img/desafios/governo/ONG/item_cenoura.png">
		<img onmouseover="playAudioMS()"class="alimentosRua" id="tomateONG" src="img/desafios/governo/ONG/item_tomate.png">

		<img id="alfaceONGcesta" src="img/desafios/governo/ONG/alface.png">
		<img id="bananaONGcesta" src="img/desafios/governo/ONG/banana.png">
		<img id="cenouraONGcesta" src="img/desafios/governo/ONG/cenoura.png">
		<img id="tomateONGcesta" src="img/desafios/governo/ONG/tomate.png">

		<img id="cestaONG" src="img/desafios/governo/ONG/cesta_governo.png">
		<div id="dropAlimentoONG"></div>
		<div id="AnimacaoClickONG"></div>


		<!-- Robot help -->
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>




</section>
