<section id="desafiocampinho">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_gov0">
		<source src="sounds/falas/desafios/gov/help0.wav">
	</audio>

	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div class="music-btn"><button class="toggle music"></button></div>
	<div id="gramadotodo" ></div>

	<img id="gramado" src="img/desafios/governo/Campinho/campinho.png">

	<img onmouseover="playAudioMS()" class="criancaVermelha" id="criancaV1" src="img/desafios/governo/Campinho/crianca1_vermelha.png">
	<img onmouseover="playAudioMS()" class="criancaVermelha" id="criancaV2" src="img/desafios/governo/Campinho/crianca2_vermelha.png">
	<img onmouseover="playAudioMS()" class="criancaVermelha" id="criancaV3" src="img/desafios/governo/Campinho/crianca3_vermelha.png">

	<img onmouseover="playAudioMS()" class="criancaAmarela" id="criancaA1" src="img/desafios/governo/Campinho/crianca1_amarela.png">
	<img onmouseover="playAudioMS()" class="criancaAmarela" id="criancaA2" src="img/desafios/governo/Campinho/crianca2_amarela.png">
	<img onmouseover="playAudioMS()" class="criancaAmarela" id="criancaA3" src="img/desafios/governo/Campinho/crianca3_amarela.png">


	<img class="criancaVermelhaOK" id="criancaV1ok" src="img/desafios/governo/Campinho/crianca1_vermelha.png">
	<img class="criancaVermelhaOK" id="criancaV2ok" src="img/desafios/governo/Campinho/crianca2_vermelha.png">
	<img class="criancaVermelhaOK" id="criancaV3ok" src="img/desafios/governo/Campinho/crianca3_vermelha.png">

	<img class="criancaAmarelaOK" id="criancaA1ok" src="img/desafios/governo/Campinho/crianca1_amarela.png">
	<img class="criancaAmarelaOK" id="criancaA2ok" src="img/desafios/governo/Campinho/crianca2_amarela.png">
	<img class="criancaAmarelaOK" id="criancaA3ok" src="img/desafios/governo/Campinho/crianca3_amarela.png">

	<img id="bandeiraV" src="img/desafios/governo/Campinho/bandeira_vermelha.png">
	<img id="bandeiraA" src="img/desafios/governo/Campinho/bandeira_amarela.png">

	<div id="AnimacaoArrastarCamp"></div>

	<div id="campinhoVermelho"></div>
	<div id="campinhoAmarelo"></div>

	<!-- Robot help -->
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>

	</section>
