<section id="desafiocarrinho">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_ino2">
		<source src="sounds/falas/desafios/ino/help2.wav">
	</audio>

	<div class="carrofunciona" id="carrofunciona"></div>
		<img class="carrofunciona" id="caixafeedback" src="img/desafios/inovacao/carrinho/cxafeedback.png">
		<img class="carrofunciona" id="pistafuncionando" src="img/desafios/inovacao/carrinho/pista_placeholder.png">
		<div class="carrofunciona" id="txtCarroFunciona">SEU<br>CARRO<br>FUNCIONA!</div>
		<button onclick="playAudioButton()" class="carrofunciona ok" id="btnOKcarro"></button>

		<div class="carrofuncionaNAO" id="carrofuncionaNAO"></div>
		<img class="carrofuncionaNAO" id="caixafeedbackNAO" src="img/desafios/inovacao/carrinho/cxafeedback.png">
		<img class="carrofuncionaNAO" id="pistafuncionandoNAO" src="img/desafios/inovacao/carrinho/pista_placeholder.png">
		<div class="carrofuncionaNAO"id="txtCarroFuncionaNAO">TENTE<br>OUTRAS<br>PEÇAS!</div>
		<button onclick="playAudioButton()" class="carrofuncionaNAO exit" id="btnOKcarroNAO"></button>

	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div class="music-btn"><button class="toggle music"></button></div>




	<img id="caixapecas" src="img/desafios/inovacao/carrinho/cxapecas_up.png">
	<img id="caixadescricao" src="img/desafios/inovacao/carrinho/cxadescricao_down.png">
	<div id="infopeca">INFORMAÇÃO SOBRE A PEÇA</div>


	<img class="pecasforacarro" onmouseover="playAudioMS()" id="sensorprox_carro" src="img/desafios/inovacao/carrinho/sensorprox_foracarro.png">
	<img class="pecasforacarro" onmouseover="playAudioMS()" id="roda_carro" src="img/desafios/inovacao/carrinho/rodas_foracarro.png">
	<img class="pecasforacarro" onmouseover="playAudioMS()" id="leds_carro" src="img/desafios/inovacao/carrinho/led_foracarro.png">
	<img class="pecasforacarro" onmouseover="playAudioMS()"  id="motor_carro" src="img/desafios/inovacao/carrinho/motor_foracarro.png">
	<img class="pecasforacarro" onmouseover="playAudioMS()" id="placa_carro" src="img/desafios/inovacao/carrinho/placa_foracarro.png">

	<div id="AnimClickCarrinho"></div>

	<img class="pecasnocarro" id="sensorprox_carrodentro" src="img/desafios/inovacao/carrinho/sensorprox_carro.png">
	<img id="carcaca_carro" src="img/desafios/inovacao/carrinho/carro.png">
	<img class="pecasnocarro" id="roda_carrodentro" src="img/desafios/inovacao/carrinho/roda_carro.png">
	<img class="pecasnocarro" id="leds_carrodentro" src="img/desafios/inovacao/carrinho/leds_carro.png">
	<img class="pecasnocarro" id="motor_carrodentro" src="img/desafios/inovacao/carrinho/motor_carro.png">
	<img class="pecasnocarro" id="placa_carrodentro" src="img/desafios/inovacao/carrinho/placa_carro.png">

	<button onclick="playAudioButton()" class="toggle next" id="btn_next_carrinho"></button>
	<button class="toggle info" id="btn_info_carrinho" data-toggle="popover" data-trigger="hover" data-placement="right" title="Saiba mais:" data-content="Em 2018, 50 equipes cearenses de várias escolas participaram da olimpíada nacional de robótica."></button>




	<!-- Robot help -->
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>
</section>
