<section id="desafiofoguete">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_ino1">
		<source src="sounds/falas/desafios/ino/help1.wav">
	</audio>

	<div id="AnimacaoFoguete"></div>
	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div class="music-btn"><button class="toggle music"></button></div>
	<div id="btn-lancar"><button class="action white">Lançar<br>Foguete</button></div>

	<button class="btn-foguete-ajuda help" data-toggle="popover" data-trigger="hover" data-placement="left" title="Saiba mais:" data-content="Em 2018, mais de dez mil alunos cearenses participaram da mostra brasileira de foguetes."></button>



	<img id="rabo0" src="img/desafios/inovacao/rabogarrafa.png">
	<img id="rabo1" src="img/desafios/inovacao/rabo1.png">
	<img id="rabo2" src="img/desafios/inovacao/rabo2.png">
	<img id="rabo3" src="img/desafios/inovacao/rabo3.png">

	<img id="meio0" src="img/desafios/inovacao/meiogarrafa.png">
	<img id="meio1" src="img/desafios/inovacao/meio1.png">
	<img id="meio2" src="img/desafios/inovacao/meio2.png">
	<img id="meio3" src="img/desafios/inovacao/meio3.png">

	<img id="bico0" src="img/desafios/inovacao/bicogarrafa.png">
	<img id="bico1" src="img/desafios/inovacao/bico1.png">
	<img id="bico2" src="img/desafios/inovacao/bico2.png">
	<img id="bico3" src="img/desafios/inovacao/bico3.png">
	<img id="place" src="img/desafios/inovacao/place.png">

	<button class="prev1 prevF"></button>
	<button class="prev2 prevF"></button>
	<button class="prev3 prevF"></button>
	<button class="next1 nextF"></button>
	<button class="next2 nextF"></button>
	<button class="next3 nextF"></button>

	<div id="AnimacaoClickFoguete"></div>


	<!-- Robot help -->
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>
</section>
