<section id="desafioalbum2">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_laz1">
		<source src="sounds/falas/desafios/laz/help1.wav">
	</audio>

	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div class="music-btn"><button class="toggle music"></button></div>

	<img class="checkClick" id="check1" src="img/desafios/lazer/album Pg Final/check.png">
	<img class="checkClick" id="check2" src="img/desafios/lazer/album Pg Final/check.png">
	<img class="checkClick" id="check3" src="img/desafios/lazer/album Pg Final/check.png">
	<img class="checkClick" id="check4" src="img/desafios/lazer/album Pg Final/check.png">
	<img class="checkClick" id="check5" src="img/desafios/lazer/album Pg Final/check.png">
	<img class="checkClick" id="check6" src="img/desafios/lazer/album Pg Final/check.png">
	<img class="checkClick" id="check7" src="img/desafios/lazer/album Pg Final/check.png">
	<img class="checkClick" id="check8" src="img/desafios/lazer/album Pg Final/check.png">
	<div onclick="playAudioButton()" onmouseover="playAudioMS()" class="checkClick" id="divcheck1"></div>
	<div onclick="playAudioButton()" onmouseover="playAudioMS()" class="checkClick" id="divcheck2"></div>
	<div onclick="playAudioButton()" onmouseover="playAudioMS()" class="checkClick" id="divcheck3"></div>
	<div onclick="playAudioButton()" onmouseover="playAudioMS()" class="checkClick" id="divcheck4"></div>
	<div onclick="playAudioButton()" onmouseover="playAudioMS()" class="checkClick" id="divcheck5"></div>
	<div onclick="playAudioButton()" onmouseover="playAudioMS()" class="checkClick" id="divcheck6"></div>
	<div onclick="playAudioButton()" onmouseover="playAudioMS()" class="checkClick" id="divcheck7"></div>
	<div onclick="playAudioButton()" onmouseover="playAudioMS()" class="checkClick" id="divcheck8"></div>

	<div  id="AnimacaoClickAlbum2"></div>

	<button onclick="playAudioButton()"  class="toggle next" id="btnAlbum2"></button>

	<!-- Robot help -->
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>
	</section>
