<section id="desafioalbum1">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_laz0">
		<source src="sounds/falas/desafios/laz/help0.wav">
	</audio>

	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div class="music-btn"><button class="toggle music"></button></div>

<div id="A1Pg1">
		<img id="paginaAlbum1" src="img/desafios/lazer/album Pg 1 e 2/pagina1e2.png">

		<img id="figurinhasCosta1" src="img/desafios/lazer/album Pg 1 e 2/figurascostas.png" >
		<img id="figurinhasCosta2" src="img/desafios/lazer/album Pg 1 e 2/figurascostas.png" >
		<img id="figurinhasCosta3" src="img/desafios/lazer/album Pg 1 e 2/figurascostas.png" >
		<img id="figurinhasCosta4" src="img/desafios/lazer/album Pg 1 e 2/figurascostas.png" >

		<div id="AnimacaoArrastarAlbum1"></div>
		<img onmouseover="playAudioMS()" id="A1fig1" src="img/desafios/lazer/album Pg 1 e 2/pg1_tecel.png">
		<img onmouseover="playAudioMS()" id="A1fig2" src="img/desafios/lazer/album Pg 1 e 2/pg1_cuscuz.png">
		<img onmouseover="playAudioMS()" id="A1fig3" src="img/desafios/lazer/album Pg 1 e 2/pg1_couro.png">
		<img onmouseover="playAudioMS()" id="A1fig4" src="img/desafios/lazer/album Pg 1 e 2/pg1_panelada.png">



		<img id="A1figOK1" src="img/desafios/lazer/album Pg 1 e 2/pg1_couro_fita.png">
		<img id="A1figOK2" src="img/desafios/lazer/album Pg 1 e 2/pg1_cuscuz_fita.png">
		<img id="A1figOK3" src="img/desafios/lazer/album Pg 1 e 2/pg1_tecelagem_fita.png">
		<img id="A1figOK4" src="img/desafios/lazer/album Pg 1 e 2/pg1_panelada_fita.png">

		<button id="A1nextPage" class="nextF"></button>
		<button id="A1nextPageDis" class="nextF" disabled></button>
		<button id="A1prevPage" class="prevF"></button>
		<button id="A1prevPageDis" class="prevF" disabled></button>
	</div>
	<div id="A1Pg2">
		<img id="paginaAlbum2" src="img/desafios/lazer/album Pg 1 e 2/pagina3e4.png">

		<img id="figurinhasCosta1" src="img/desafios/lazer/album Pg 1 e 2/card1.png" >
		<img id="figurinhasCosta2" src="img/desafios/lazer/album Pg 1 e 2/card1.png" >
		<img id="figurinhasCosta3" src="img/desafios/lazer/album Pg 1 e 2/card1.png" >
		<img id="figurinhasCosta4" src="img/desafios/lazer/album Pg 1 e 2/card1.png" >

		<img onmouseover="playAudioMS()" id="A2fig1" src="img/desafios/lazer/album Pg 1 e 2/pg2_caninde.png">
		<img onmouseover="playAudioMS()" id="A2fig2" src="img/desafios/lazer/album Pg 1 e 2/pg2_indios.png">
		<img onmouseover="playAudioMS()" id="A2fig3" src="img/desafios/lazer/album Pg 1 e 2/pg2_saojoao.png">
		<img onmouseover="playAudioMS()" id="A2fig4" src="img/desafios/lazer/album Pg 1 e 2/pg2_saojoao2.png">

		<img id="A2figOK1" src="img/desafios/lazer/album Pg 1 e 2/pg2_saojoao_fita.png">
		<img id="A2figOK2" src="img/desafios/lazer/album Pg 1 e 2/pg2_saojoao2_fita.png">
		<img id="A2figOK3" src="img/desafios/lazer/album Pg 1 e 2/pg2_indios_fita.png">
		<img id="A2figOK4" src="img/desafios/lazer/album Pg 1 e 2/pg2_caninde_fita.png">

		<button id="A2nextPage" class="nextF"></button>
		<button id="A2nextPageDis" class="nextF" disabled></button>
		<button id="A2prevPage" class="prevF"></button>


	</div>


	<!-- Robot help -->
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>

	</section>
