<section id="desafio7erros">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_laz2">
		<source src="sounds/falas/desafios/laz/help2.wav">
	</audio>

	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div class="music-btn"><button class="toggle music"></button></div>

	<img class="errosX" id="erroX1" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Já pensou quanto tempo custa deixar tudo bonito e limpo?" src="img/desafios/lazer/7erros/marcadorerro.png">
	<img class="errosX" id="erroX2" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Alguém vai ter que pagar por isso." src="img/desafios/lazer/7erros/marcadorerro.png">
	<img class="errosX" id="erroX3" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Um lugar sujo é feio e fede." src="img/desafios/lazer/7erros/marcadorerro.png" src="img/desafios/lazer/7erros/marcadorerro.png">
	<img class="errosX" id="erroX4" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Se arrancar as flores elas deixarão de embelezar os lugares." src="img/desafios/lazer/7erros/marcadorerro.png" src="img/desafios/lazer/7erros/marcadorerro.png">
	<img class="errosX" id="erroX5" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Sem parquinho ninguém brinca mais." src="img/desafios/lazer/7erros/marcadorerro.png" src="img/desafios/lazer/7erros/marcadorerro.png">
	<img class="errosX" id="erroX6" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Isso é perigoso e destrói lugares antigos." src="img/desafios/lazer/7erros/marcadorerro.png" src="img/desafios/lazer/7erros/marcadorerro.png">
	<img class="errosX" id="erroX7" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Vamos ficar sem ter onde sentar." src="img/desafios/lazer/7erros/marcadorerro.png" src="img/desafios/lazer/7erros/marcadorerro.png">
	<div id="AnimacaoClick7erros"></div>
	<div onclick="playAudioButton()" class="divErros" id="erroX1DIV"></div>
	<div onclick="playAudioButton()" class="divErros" id="erroX2DIV"></div>
	<div onclick="playAudioButton()" class="divErros" id="erroX3DIV"></div>
	<div onclick="playAudioButton()" class="divErros" id="erroX4DIV"></div>
	<div onclick="playAudioButton()" class="divErros" id="erroX5DIV"></div>
	<div onclick="playAudioButton()" class="divErros" id="erroX6DIV"></div>
	<div onclick="playAudioButton()" class="divErros" id="erroX7DIV"></div>
	<img id="contador-erros" src="img/desafios/lazer/7erros/contador_erros.png">

	<div id="txtContador0">0</div>
	<div id="txtContadorDE" >DE</div>
	<div  id="txtContador7">7</div>

	<!-- Robot help -->
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>




	</section>
