<section id="mapa">

	<audio preload="metadata" id="help_mapa">
		<source src="sounds/falas/mapa/help.wav">
	</audio>

	<audio preload="metadata" id="parabens_mapa_menino">
		<source src="sounds/falas/mapa/bomtrabalhoMenino.wav">
	</audio>

	<audio preload="metadata" id="parabens_mapa_menina">
		<source src="sounds/falas/mapa/bomtrabalho.wav">
	</audio>

	<img id="backgroundmapa" src="img/cenarios/cenario_mapacpeca.png">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<div class="sound-btn"><button class="toggle sound" onmouseover="playAudioMS()"></button></div>
	<div class="music-btn"><button class="toggle music" onmouseover="playAudioMS()"></button></div>
	<img id="pecaMapa1" src="img/desafios/mapa/pc_cariri2.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Cariri" data-content="29 cidades<br>População: +1.000.000">
	<img id="pecaMapa2" src="img/desafios/mapa/pc_sertao_central2.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Sertão Central" data-content="13 cidades<br>População: +390.000">
	<img id="pecaMapa3" src="img/desafios/mapa/pc_sertao_dos_crateus2.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Sertão dos Crateús" data-content="13 cidades<br>População: +340.000">
	<img id="pecaMapa4" src="img/desafios/mapa/pc_serra_da_ibiapaba2.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Serra da Ibiapaba" data-content="9 cidades<br>População: +350.000">
	<img id="pecaMapa5" src="img/desafios/mapa/pc_litoral_oeste2.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Litoral Oeste" data-content="12 cidades<br>População: +380.000">
	<img id="pecaMapa6" src="img/desafios/mapa/pc_litoral_leste2.png" data-toggle="popover" data-trigger="hover" data-placement="left" title="Litoral Leste" data-content="6 cidades<br>População: +200.000">
	<img id="pecaMapa7" src="img/desafios/mapa/pc_macico_de_baturite2.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Maciço de Baturité" data-content="13 cidades<br>População: +390.000">
	<img id="pecaMapa8" src="img/desafios/mapa/pc_litoral_norte.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Litoral Norte" data-content="13 cidades<br>População: +390.000">
	<img id="pecaMapa9" src="img/desafios/mapa/pc_sertao_de_sobral.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Sertão de Sobral" data-content="18 cidades<br>População: +490.000">
	<img id="pecaMapa10" src="img/desafios/mapa/pc_grande_fortaleza.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Grande Fortaleza" data-content="19 cidades<br>População: +4.000.000">
	<img id="pecaMapa11" src="img/desafios/mapa/pc_sertao_de_caninde.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Sertão de Canindé" data-content="6 cidades<br>População +200.000">
	<img id="pecaMapa12" src="img/desafios/mapa/pc_vale_do_jaguaribe.png" data-toggle="popover" data-trigger="hover" data-placement="left" title="Vale do Jaguaribe" data-content="15 cidades<br>População +390.000">
	<img id="pecaMapa13" src="img/desafios/mapa/pc_sertao_dos_inhamuns.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Sertão dos Inhamuns" data-content="5 cidades<br>População: +130.000">
	<img id="pecaMapa14" src="img/desafios/mapa/pc_centro_sul.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Centro Sul" data-content="13 cidades<br>População: +390.000">


	<img class="pecasnamesa" onmouseover="playAudioMS()" id="pecaMesa1" src="img/desafios/mapa/pc_cariri.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Cariri" data-content="29 cidades<br>População: +1.000.000">
	<img class="pecasnamesa" onmouseover="playAudioMS()" id="pecaMesa2" src="img/desafios/mapa/pc_sertao_central.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Sertão Central"
		data-content="13 cidades <br>População: +390.000">
	<img class="pecasnamesa" onmouseover="playAudioMS()" id="pecaMesa3" src="img/desafios/mapa/pc_sertao_dos_crateus.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Sertão dos Crateús"
		data-content="13 cidades<br>População: +340.000">
	<img class="pecasnamesa" onmouseover="playAudioMS()" id="pecaMesa4" src="img/desafios/mapa/pc_serra_da_ibiapaba.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Serra da Ibiapaba"
		data-content="9 cidades<br>População: +350.000">
	<img class="pecasnamesa" onmouseover="playAudioMS()" id="pecaMesa5" src="img/desafios/mapa/pc_litoral_oeste.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Litoral Oeste"
		data-content="12 cidades<br>População: +380.000">
	<img class="pecasnamesa" onmouseover="playAudioMS()" id="pecaMesa6" src="img/desafios/mapa/pc_litoral_leste.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Litoral Leste"
		data-content="6 cidades<br>População: +200.000">
	<img class="pecasnamesa" onmouseover="playAudioMS()" id="pecaMesa7" src="img/desafios/mapa/pc_macico_de_baturite.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Maciço de Baturité"
		data-content="13 cidades<br>População: +390.000">

	<div id="AnimacaoArrastarMapa"></div>

	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li>
						<h4></h4>
					</li>
					<li>
						<p></p>
					</li>
				</div>
				<button id='repeat-btn' onmouseover="playAudioMS()" onclick="playAudioButton()" class='toggle repeat'></button>
				<button id='close-btn' onmouseover="playAudioMS()" onclick="playAudioButton()" class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img src="img/help/robot-mini-blue.png" alt="Ajuda" onmouseover="playAudioMS()" onclick="playAudioButton()" title="Precisa de ajuda?">
		</div>
	</div>

	<div class="robot-comment" style="display: none;">
		<div class="content centered">
			<div class="content-left">
				<li><img id="img" src="img/comment/robot-bodyoff.png">
					<div id="AnimacaoRoboCommentMapa"></div>
				</li>
			</div>

			<div class="content-right">
				<li>
					<div id="text-comment"></div>
				</li>
				<li>
					<div id="more"  onmouseover="playAudioMS()">
						<button id='go-comment' onmouseover="playAudioMS()" onclick="playAudioButton()" class='action blue'>Vamos lá!</button>
					</div>
				</li>
			</div>

		</div>
	</div>



</section>
