<section id="desafiolixos">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_mei0">
		<source src="sounds/falas/desafios/mei/help0.wav">
	</audio>

	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div class="music-btn"><button class="toggle music"></button></div>
	<img id="lixometal"  src="img/desafios/sustentabilidade/lixeirametal_fechada.png">
	<img id="lixopapel" src="img/desafios/sustentabilidade/lixeirapapel_fechada.png">
	<img id="lixoplastico" src="img/desafios/sustentabilidade/lixeiraplastico_fechada.png">
	<img id="lixovidro" src="img/desafios/sustentabilidade/lixeiravidro_fechada.png">
	<img id="lixoorganico" src="img/desafios/sustentabilidade/lixeiraorganico_fechada.png">

	<img id="lixometalaberto"  src="img/desafios/sustentabilidade/lixeirametal_aberta.png">
	<img id="lixopapelaberto" src="img/desafios/sustentabilidade/lixeirapapel_aberta.png">
	<img id="lixoplasticoaberto" src="img/desafios/sustentabilidade/lixeiraplastico_aberta.png">
	<img id="lixovidroaberto" src="img/desafios/sustentabilidade/lixeiravidro_aberta.png">
	<img id="lixoorganicoaberto" src="img/desafios/sustentabilidade/lixeiraorganico_aberta.png">

	<img class="fontlixos" onmouseover="playAudioMS()" id="papel1" src="img/desafios/sustentabilidade/caixa.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Caixas de Papelão" data-content="6 meses para desaparecer">

	<img class="fontlixos" onmouseover="playAudioMS()" id="papel2" src="img/desafios/sustentabilidade/jornal1.png"  data-toggle="popover" data-trigger="hover" data-placement="right" title="Jornais" data-content="3 meses para desaparecer">

	<img class="fontlixos" onmouseover="playAudioMS()" id="plastico1" src="img/desafios/sustentabilidade/garrafa.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Garrafas plásticas" data-content="450 anos para desaparecer">

	<img class="fontlixos" onmouseover="playAudioMS()" id="plastico2" src="img/desafios/sustentabilidade/sacola2.png" data-toggle="popover" data-trigger="hover" data-placement="left" title="Sacos plásticos de mercantil" data-content="30 anos para desaparecer">

	<img class="fontlixos" onmouseover="playAudioMS()" id="metal1" src="img/desafios/sustentabilidade/refrigerante.png" data-toggle="popover" data-trigger="hover" data-placement="left" title="Late de refrigerante" data-content="100 anos para desaparecer">

	<img class="fontlixos" onmouseover="playAudioMS()" id="metal2" src="img/desafios/sustentabilidade/lata.png" data-toggle="popover" data-trigger="hover" data-placement="left" title="Lata de ervilhas" data-content="100 anos para desaparecer">

	<img class="fontlixos" onmouseover="playAudioMS()" id="vidro1" src="img/desafios/sustentabilidade/taca.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Taça de vidro" data-content="Um milhão de anos para desaparecer">

	<img class="fontlixos" onmouseover="playAudioMS()" id="vidro2" src="img/desafios/sustentabilidade/pote.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Pote de vidro" data-content="Um milhão de anos para desaparecer">

	<img class="fontlixos" onmouseover="playAudioMS()" id="organico1" src="img/desafios/sustentabilidade/maca.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Resto de fruta" data-content="1 a 3 meses para desaparecer">

	<img  class="fontlixos" onmouseover="playAudioMS()"  id="organico2" src="img/desafios/sustentabilidade/chiclete.png" data-toggle="popover" data-trigger="hover" data-placement="right" title="Chiclete" data-content="5 anos para desaparecer">
	<div id="AnimacaoArrastarLixos"></div>

		<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>
</section>
