<section id="desafiocozinha">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_mei2">
		<source src="sounds/falas/desafios/mei/help2.wav">
	</audio>

	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div class="music-btn"><button class="toggle music"></button></div>
	<img id="torneira" src="img/desafios/sustentabilidade/torneira.png">
	<div id="moverlegumes"></div>
	<div id="droplegumes"></div>



	<img id="baciaCozinha" src="img/desafios/sustentabilidade/bacia.png">

	<img class="legumesPia" id="C_alfacecesta1CB" src="img/desafios/sustentabilidade/alface.png">
	<img class="legumesPia" id="C_alfacecesta2CB" src="img/desafios/sustentabilidade/alface.png">
	<img class="legumesPia" id="C_tomatecesta1CB" src="img/desafios/sustentabilidade/tomate.png">
	<img class="legumesPia" id="C_tomatecesta2CB" src="img/desafios/sustentabilidade/tomate.png">
	<img class="legumesPia" id="C_cenouracesta1CB" src="img/desafios/sustentabilidade/cenoura.png">
	<img class="legumesPia" id="C_cenouracesta2CB" src="img/desafios/sustentabilidade/cenoura.png">

	<img id="baciaCozinha1" src="img/desafios/sustentabilidade/bacia1.png">

	<div id="animacaoTorneiraPia"></div>



	<img  id="C_cestavazia" src="img/desafios/sustentabilidade/cestavazia.png">
	<img onmouseover="playAudioMS()" class="legumesCesta" id="C_alfacecesta1" src="img/desafios/sustentabilidade/alface.png">
	<img onmouseover="playAudioMS()" class="legumesCesta" id="C_alfacecesta2" src="img/desafios/sustentabilidade/alface.png">
	<img onmouseover="playAudioMS()" class="legumesCesta" id="C_tomatecesta1" src="img/desafios/sustentabilidade/tomate.png">
	<img onmouseover="playAudioMS()" class="legumesCesta" id="C_tomatecesta2" src="img/desafios/sustentabilidade/tomate.png">
	<img onmouseover="playAudioMS()" class="legumesCesta" id="C_cenouracesta1" src="img/desafios/sustentabilidade/cenoura.png">
	<img onmouseover="playAudioMS()" class="legumesCesta" id="C_cenouracesta2" src="img/desafios/sustentabilidade/cenoura.png">
	<img onmouseover="playAudioMS()" class="legumesCesta" id="C_cestavazia3" src="img/desafios/sustentabilidade/cestavazia3.png">


	<img onmouseover="playAudioMS()" class="legumesAgua" id="C_cenouracesta1C" src="img/desafios/sustentabilidade/cenoura.png">
	<img onmouseover="playAudioMS()" class="legumesAgua" id="C_cenouracesta2C" src="img/desafios/sustentabilidade/cenoura.png">
	<img onmouseover="playAudioMS()" class="legumesAgua" id="C_alfacecesta1C" src="img/desafios/sustentabilidade/alface.png">
	<img onmouseover="playAudioMS()" class="legumesAgua" id="C_alfacecesta2C" src="img/desafios/sustentabilidade/alface.png">
	<img onmouseover="playAudioMS()" class="legumesAgua" id="C_tomatecesta1C" src="img/desafios/sustentabilidade/tomate.png">
	<img onmouseover="playAudioMS()" class="legumesAgua" id="C_tomatecesta2C" src="img/desafios/sustentabilidade/tomate.png">




	<img id="piacozinha" src="img/desafios/sustentabilidade/pia.png">


	<img onmouseover="playAudioMS()" class="pecasCozinha" id="peca1" src="img/desafios/sustentabilidade/pc1.png">
	<img onmouseover="playAudioMS()" class="pecasCozinha" id="peca2" src="img/desafios/sustentabilidade/pc2.png">
	<img onmouseover="playAudioMS()" class="pecasCozinha" id="peca3" src="img/desafios/sustentabilidade/pc3.png">
	<img onmouseover="playAudioMS()" class="pecasCozinha" id="peca4" src="img/desafios/sustentabilidade/pc4.png">
	<img onmouseover="playAudioMS()" class="pecasCozinha" id="peca5" src="img/desafios/sustentabilidade/pc5.png">
	<img onmouseover="playAudioMS()" class="pecasCozinha" id="peca6" src="img/desafios/sustentabilidade/pc6.png">
	<img onmouseover="playAudioMS()" class="pecasCozinha" id="peca7" src="img/desafios/sustentabilidade/pc7.png">
	<img onmouseover="playAudioMS()" class="pecasCozinha" id="peca8" src="img/desafios/sustentabilidade/pc8.png">
	<img onmouseover="playAudioMS()" class="pecasCozinha" id="peca9" src="img/desafios/sustentabilidade/pc9.png">
	<img onmouseover="playAudioMS()" class="pecasCozinha" id="peca10" src="img/desafios/sustentabilidade/pc10.png">

	<div id="AnimacaoClickCanos"></div>
	<div id="AnimacaoClickLegumesCesta"></div>
	<div id="AnimacaoClickLegumesPia"></div>
	<div id="animacaocanos"></div>

	<div  id="cobrirCozinha" ></div>


	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>



</section>
