<section id="desafioplantar">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_mei1">
		<source src="sounds/falas/desafios/mei/help1.wav">
	</audio>
	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div class="music-btn"><button class="toggle music"></button></div>
		<img id="buraco1" onmouseover="playAudioMS()" class="brc1" src="img/desafios/sustentabilidade/buraco.png">
		<img id="buraco2" onmouseover="playAudioMS()" class="brc2" src="img/desafios/sustentabilidade/buraco.png">
		<img id="buraco3" onmouseover="playAudioMS()" class="brc3" src="img/desafios/sustentabilidade/buraco.png">
		<img id="buraco4" onmouseover="playAudioMS()" class="brc4" src="img/desafios/sustentabilidade/buraco.png">
		<img id="buraco5" onmouseover="playAudioMS()" class="brc5" src="img/desafios/sustentabilidade/buraco.png">
		<img id="buraco6" onmouseover="playAudioMS()" class="brc6" src="img/desafios/sustentabilidade/buraco.png">

		<img id="cestavazia" src="img/desafios/sustentabilidade/cestavazia.png">
		<img id="cenouracesta1" src="img/desafios/sustentabilidade/cenoura.png">
		<img id="cenouracesta2" src="img/desafios/sustentabilidade/cenoura.png">
		<img id="alfacecesta1" src="img/desafios/sustentabilidade/alface.png">
		<img id="alfacecesta2" src="img/desafios/sustentabilidade/alface.png">
		<img id="tomatecesta1" src="img/desafios/sustentabilidade/tomate.png">
		<img id="tomatecesta2" src="img/desafios/sustentabilidade/tomate.png">
		<img id="cestavazia1" src="img/desafios/sustentabilidade/cestavazia1.png">
		<div id="animacaoClickPlantar"></div>



		<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>
</section>
