<section id="desafioparquinho">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_sau1">
		<source src="sounds/falas/desafios/sau/help1.wav">
	</audio>

	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div class="music-btn"><button class="toggle music"></button></div>
	<div id="btn-enviar-parquinho"><button class="action white">Próximo</button></div>

	<img onclick="playAudioButton()" onmouseover="playAudioMS()" class="escorregador" id="escorregador" src="img/desafios/saude/parquinho/escorrega.png">
	<img onclick="playAudioButton()" onmouseover="playAudioMS()" class="campinho" id="campinho_futebol_none" src="img/animation/FaseLazer/Campo_Sem_Bola_Trave.png">
	<img onclick="playAudioButton()" onmouseover="playAudioMS()" class="campinho" id="campinho_futebol" src="img/animation/FaseLazer/Campo_Com_Bola_Trave.png">
	<img onclick="playAudioButton()" onmouseover="playAudioMS()" class="balanco" id="balanco" src="img/animation/FaseLazer/Balanco/Balanco_00000.png">
	<img onclick="playAudioButton()" onmouseover="playAudioMS()" class="gangorra" id="gangorra" src="img/animation/FaseLazer/Gangorra/Gangorra_00000.png">
	<img onclick="playAudioButton()" onmouseover="playAudioMS()" class="tablet" id="tablet" src="img/desafios/saude/parquinho/tablet.png">
	<img onclick="playAudioButton()" onmouseover="playAudioMS()" class="tablet1" id="tablet1" src="img/desafios/saude/parquinho/table1t.png">
	<div id="animacaoGangorra"></div>
	<div id="animacaoEscorregador"></div>
	<div id="animacaoCelular"></div>
	<div id="animacaoBalanco"></div>
	<div id="animacaoCampo"></div>


	<img id="barraSaudavel" src="img/desafios/saude/prato/barra.png">
	<img id="bilotoP" src="img/desafios/saude/prato/biloto.png">
	<img id="nomeSaudavel" src="img/desafios/saude/parquinho/cxa_muitaenergia.png">
	<img id="nomeNaoSaudavel" src="img/desafios/saude/parquinho/cxa_poucaenergia.png">
	<div id="AnimacaoClickParquinho"></div>


	<!-- Robot help -->
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img  onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>

</section>
