<section id="desafioprato">
	<div class="back-btn"><button class="prevF" onclick="backStage()"></button></div>
	<audio preload="metadata" id="help_sau0">
		<source src="sounds/falas/desafios/sau/help0.wav">
	</audio>

	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div class="music-btn"><button class="toggle music"></button></div>
	<div id="todoespacoP"></div>
	<div id="btn-enviar-prato"><button class="action white">Enviar<br>Prato</button></div>

	<img id="imgPrato" src="img/desafios/saude/prato/prato.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveis" id="P-alface" src="img/desafios/saude/prato/alface.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveis" id="P-arroz" src="img/desafios/saude/prato/arroz.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveis" id="P-banana" src="img/desafios/saude/prato/banana.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveis" id="P-carne" src="img/desafios/saude/prato/carne.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveis" id="P-cenoura" src="img/desafios/saude/prato/cenoura.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveis" id="P-feijao" src="img/desafios/saude/prato/feijao.png">
	<img onmouseover="playAudioMS()" class="alimentosSaudaveis" id="P-batata" src="img/desafios/saude/prato/batatadoce.png">
	<img onmouseover="playAudioMS()" class="alimentosSaudaveis" id="P-laranja" src="img/desafios/saude/prato/laranja.png">
	<img onmouseover="playAudioMS()" class="alimentosSaudaveis" id="P-ovo" src="img/desafios/saude/prato/ovos.png">
	<img onmouseover="playAudioMS()" class="alimentosSaudaveis" id="P-queijo" src="img/desafios/saude/prato/queijo.png">
	<img  onmouseover="playAudioMS()" class="alimentosNaoSaudaveis NSbombom" id="P-bombom" src="img/desafios/saude/prato/bombom.png">
	<img  onmouseover="playAudioMS()" class="alimentosNaoSaudaveis NSpirulito" id="P-pirulito" src="img/desafios/saude/prato/pirulito.png">
	<img  onmouseover="playAudioMS()" class="alimentosNaoSaudaveis NSjujuba" id="P-jujuba" src="img/desafios/saude/prato/jujubas.png">

	<img class="alimentosSaudaveisP" id="P-alfaceOK" src="img/desafios/saude/prato/alfaceprato.png">


	<img  onmouseover="playAudioMS()" class="alimentosSaudaveisP" id="P-carneOK" src="img/desafios/saude/prato/carneprato.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveisP" id="P-arrozOK" src="img/desafios/saude/prato/arrozprato.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveisP" id="P-cenouraOK" src="img/desafios/saude/prato/cenouraprato.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveisP" id="P-feijaoOK" src="img/desafios/saude/prato/feijaoprato.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveisP" id="P-bananaOK" src="img/desafios/saude/prato/bananaprato.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveisP" id="P-batataOK" src="img/desafios/saude/prato/batatadoceprato.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveisP" id="P-laranjaOK" src="img/desafios/saude/prato/laranjaprato.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveisP" id="P-ovoOK" src="img/desafios/saude/prato/ovoprato.png">
	<img  onmouseover="playAudioMS()" class="alimentosSaudaveisP" id="P-queijoOK" src="img/desafios/saude/prato/queijoprato.png">

	<img  onmouseover="playAudioMS()" class="alimentosNaoSaudaveisP NSPbombom" id="P-bombomOK" src="img/desafios/saude/prato/bombomprato.png">
	<img  onmouseover="playAudioMS()" class="alimentosNaoSaudaveisP NSPpirulito" id="P-pirulitoOK" src="img/desafios/saude/prato/pirulitoprato.png">
	<img  onmouseover="playAudioMS()" class="alimentosNaoSaudaveisP NSPjujuba" id="P-jujubaOK" src="img/desafios/saude/prato/jujubaprato.png">

	<div id="AnimacaoArrastarPrato"></div>

	<img id="barraSaudavel" src="img/desafios/saude/prato/barra.png">
	<img id="biloto" src="img/desafios/saude/prato/biloto.png">
	<img id="nomeSaudavel" src="img/desafios/saude/prato/saudavel.png">
	<img id="nomeNaoSaudavel" src="img/desafios/saude/prato/naosaudavel.png">


	<!-- Robot help -->
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div id="AnimacaoRoboHelp"></div>
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img   onmouseover="playAudioMS()" src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>


	</section>
