.spritesheet.textarea-box {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -0px -2080px;
  width: 971px;
  height: 337px;
}

.spritesheet.star-half {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -3193px -435px;
  width: 151px;
  height: 147px;
}

.spritesheet.star-full {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -3189px -693px;
  width: 151px;
  height: 147px;
}

.spritesheet.star-empty {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -3189px -997px;
  width: 151px;
  height: 147px;
}

.spritesheet.sau-badge {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -508px -2422px;
  width: 503px;
  height: 552px;
}

.spritesheet.robot-mini-blue {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2984px -435px;
  width: 204px;
  height: 253px;
}

.spritesheet.robot-balloon {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1952px -2080px;
  width: 1095px;
  height: 226px;
}

.spritesheet.mei-badge {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1016px -2422px;
  width: 503px;
  height: 551px;
}

.spritesheet.logoceara {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2984px -899px;
  width: 251px;
  height: 86px;
}

.spritesheet.logo-complete {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2476px -0px;
  width: 868px;
  height: 430px;
}

.spritesheet.laz-badge {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1718px -517px;
  width: 503px;
  height: 554px;
}

.spritesheet.input-box {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1524px -2674px;
  width: 971px;
  height: 139px;
}

.spritesheet.ino-badge {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1718px -1076px;
  width: 503px;
  height: 554px;
}

.spritesheet.gov-badge {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -0px -2422px;
  width: 503px;
  height: 554px;
}

.spritesheet.edu-badge {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2476px -435px;
  width: 503px;
  height: 557px;
}

.spritesheet.eco-badge {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2476px -997px;
  width: 503px;
  height: 555px;
}

.spritesheet.cxainserir_txt_linhas {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -976px -2080px;
  width: 971px;
  height: 337px;
}

.spritesheet.btn-toggle-sound {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2984px -1203px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-repeat {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -3012px -1557px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-print {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2984px -693px;
  width: 200px;
  height: 201px;
}

.spritesheet.btn-toggle-play {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -3012px -1762px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-pause {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2226px -517px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-ok {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2226px -722px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-next {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2226px -1076px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-mute {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2226px -1281px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-info {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1298px -1006px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-home {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1503px -1006px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-download {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2984px -997px;
  width: 200px;
  height: 201px;
}

.spritesheet.btn-toggle-close {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1298px -1211px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-arrow {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1503px -1211px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-toggle-arrow-p {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1298px -1416px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-start {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2500px -2674px;
  width: 452px;
  height: 129px;
}

.spritesheet.btn-op-yes {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2984px -1408px;
  width: 217px;
  height: 124px;
}

.spritesheet.btn-op-no {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2226px -927px;
  width: 217px;
  height: 123px;
}

.spritesheet.btn-music_ativo {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1503px -1416px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-btrepetirinativo_ {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -3052px -2080px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-btmusicoff_ativo {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -0px -2981px;
  width: 200px;
  height: 200px;
}

.spritesheet.btn-action-white {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1872px -1682px;
  width: 500px;
  height: 181px;
}

.spritesheet.btn-action-orange {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1872px -1868px;
  width: 500px;
  height: 181px;
}

.spritesheet.btn-action-blue {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2459px -2422px;
  width: 500px;
  height: 181px;
}

.spritesheet.bt-info_ativo {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -205px -2981px;
  width: 200px;
  height: 200px;
}

.spritesheet.box-robot-help {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -963px -1682px;
  width: 904px;
  height: 376px;
}

.spritesheet.box-robot-comment-down {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -2476px -1557px;
  width: 531px;
  height: 419px;
}

.spritesheet.box-regions-left {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1298px -841px;
  width: 392px;
  height: 160px;
}

.spritesheet.box-other-badges {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -0px -841px;
  width: 1293px;
  height: 836px;
}

.spritesheet.box-comment {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -0px -0px;
  width: 1713px;
  height: 836px;
}

.spritesheet.box-comment-certificate {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1524px -2422px;
  width: 930px;
  height: 247px;
}

.spritesheet.box-all-badges-certificate {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -1718px -0px;
  width: 753px;
  height: 512px;
}

.spritesheet.balloon-comment {
  background-image: url('../../images/generated-sprites/spritesheet1.png');
  background-position: -0px -1682px;
  width: 958px;
  height: 393px;
}

