.spritesheet.sala_quadrosala {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -0px;
  width: 658px;
  height: 416px;
}

.spritesheet.sala_quadro_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4529px -872px;
  width: 151px;
  height: 151px;
}

.spritesheet.sala_luzsala {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -0px -0px;
  width: 2093px;
  height: 1097px;
}

.spritesheet.sala_luz_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -2441px;
  width: 151px;
  height: 151px;
}

.spritesheet.sala_lixeirasala {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4540px -1718px;
  width: 123px;
  height: 117px;
}

.spritesheet.sala_lixeira_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4180px -2441px;
  width: 151px;
  height: 151px;
}

.spritesheet.sala_livrossala {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3222px -3276px;
  width: 143px;
  height: 84px;
}

.spritesheet.sala_livros_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4336px -2441px;
  width: 151px;
  height: 151px;
}

.spritesheet.sala_lapissala {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4187px -3635px;
  width: 124px;
  height: 76px;
}

.spritesheet.sala_lapis_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4492px -2441px;
  width: 151px;
  height: 151px;
}

.spritesheet.sala_icon_quadro {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4383px -2298px;
  width: 202px;
  height: 116px;
}

.spritesheet.sala_icon_luz {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -892px -4033px;
  width: 93px;
  height: 136px;
}

.spritesheet.sala_icon_lixeira {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2126px -3468px;
  width: 122px;
  height: 117px;
}

.spritesheet.sala_icon_livros {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2751px -3276px;
  width: 163px;
  height: 96px;
}

.spritesheet.sala_icon_lapis {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4687px -324px;
  width: 86px;
  height: 153px;
}

.spritesheet.sala_icon_globo {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -1237px -3728px;
  width: 107px;
  height: 127px;
}

.spritesheet.sala_icon_carteira {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4545px -3497px;
  width: 137px;
  height: 128px;
}

.spritesheet.sala_globosala {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -1117px -3728px;
  width: 115px;
  height: 137px;
}

.spritesheet.sala_globo_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -2597px;
  width: 151px;
  height: 151px;
}

.spritesheet.sala_carteirassala {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -958px -3061px;
  width: 1200px;
  height: 402px;
}

.spritesheet.sala_cadeira_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4180px -2597px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolaf_tinta_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4336px -2597px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolaf_rampaacessibilidade {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -3635px;
  width: 158px;
  height: 82px;
}

.spritesheet.escolaf_parquinho {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -421px;
  width: 420px;
  height: 221px;
}

.spritesheet.escolaf_parque_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4492px -2597px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolaf_onibusescolar {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4245px -872px;
  width: 279px;
  height: 158px;
}

.spritesheet.escolaf_onibus_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -2753px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolaf_lixo_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4180px -2753px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolaf_lixeirasseletivas {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4384px -3364px;
  width: 268px;
  height: 79px;
}

.spritesheet.escolaf_icon_pintar {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2598px -3276px;
  width: 148px;
  height: 115px;
}

.spritesheet.escolaf_icon_parquinho {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -126px -3880px;
  width: 106px;
  height: 145px;
}

.spritesheet.escolaf_icon_onibus {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3765px -2742px;
  width: 169px;
  height: 96px;
}

.spritesheet.escolaf_icon_lixeirasselet {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -237px -3880px;
  width: 105px;
  height: 124px;
}

.spritesheet.escolaf_icon_horta {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4204px -2298px;
  width: 174px;
  height: 135px;
}

.spritesheet.escolaf_icon_arborizar {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -632px -3728px;
  width: 116px;
  height: 142px;
}

.spritesheet.escolaf_icon_acessib {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -1349px -3728px;
  width: 107px;
  height: 122px;
}

.spritesheet.escolaf_horta_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4336px -2753px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolaf_horta {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -1718px;
  width: 306px;
  height: 137px;
}

.spritesheet.escolaf_escolafora_pintada {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2645px -2188px;
  width: 953px;
  height: 663px;
}

.spritesheet.escolaf_escolafora_antes {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -0px -3061px;
  width: 953px;
  height: 662px;
}

.spritesheet.escolaf_bt_pintar_normal {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3852px -1102px;
  width: 163px;
  height: 137px;
}

.spritesheet.escolaf_bt_pintar_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3852px -1244px;
  width: 163px;
  height: 137px;
}

.spritesheet.escolaf_bt_pintar_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -3221px;
  width: 163px;
  height: 138px;
}

.spritesheet.escolaf_bt_pintar_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3852px -1386px;
  width: 163px;
  height: 137px;
}

.spritesheet.escolaf_bt_parque_normal {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -240px -4033px;
  width: 115px;
  height: 149px;
}

.spritesheet.escolaf_bt_parque_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -0px -4033px;
  width: 115px;
  height: 150px;
}

.spritesheet.escolaf_bt_parque_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -120px -4033px;
  width: 115px;
  height: 150px;
}

.spritesheet.escolaf_bt_parque_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -360px -4033px;
  width: 115px;
  height: 149px;
}

.spritesheet.escolaf_bt_lixo_png {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -875px -3728px;
  width: 116px;
  height: 137px;
}

.spritesheet.escolaf_bt_lixo_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4564px -2153px;
  width: 117px;
  height: 137px;
}

.spritesheet.escolaf_bt_lixo_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -753px -3728px;
  width: 117px;
  height: 139px;
}

.spritesheet.escolaf_bt_lixo_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -996px -3728px;
  width: 116px;
  height: 137px;
}

.spritesheet.escolaf_bt_horta_normal {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4384px -2153px;
  width: 175px;
  height: 138px;
}

.spritesheet.escolaf_bt_horta_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4204px -2153px;
  width: 175px;
  height: 139px;
}

.spritesheet.escolaf_bt_horta_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -2153px;
  width: 175px;
  height: 140px;
}

.spritesheet.escolaf_bt_horta_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -2298px;
  width: 175px;
  height: 138px;
}

.spritesheet.escolaf_bt_bus_normal {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4371px -3221px;
  width: 175px;
  height: 128px;
}

.spritesheet.escolaf_bt_bus_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -3364px;
  width: 175px;
  height: 128px;
}

.spritesheet.escolaf_bt_bus_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4192px -3221px;
  width: 174px;
  height: 129px;
}

.spritesheet.escolaf_bt_bus_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4204px -3364px;
  width: 175px;
  height: 128px;
}

.spritesheet.escolaf_bt_arbori_normal {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -254px -3728px;
  width: 121px;
  height: 147px;
}

.spritesheet.escolaf_bt_arbori_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -0px -3880px;
  width: 121px;
  height: 148px;
}

.spritesheet.escolaf_bt_arbori_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -958px -3468px;
  width: 121px;
  height: 150px;
}

.spritesheet.escolaf_bt_arbori_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -380px -3728px;
  width: 121px;
  height: 147px;
}

.spritesheet.escolaf_bt_acessib_normal {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -1338px -3468px;
  width: 123px;
  height: 145px;
}

.spritesheet.escolaf_bt_acessib_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -1466px -3468px;
  width: 123px;
  height: 145px;
}

.spritesheet.escolaf_bt_acessib_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -1210px -3468px;
  width: 123px;
  height: 146px;
}

.spritesheet.escolaf_bt_acessib_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -1594px -3468px;
  width: 123px;
  height: 145px;
}

.spritesheet.escolaf_arvores2 {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4556px -647px;
  width: 126px;
  height: 181px;
}

.spritesheet.escolaf_arvores1 {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -647px;
  width: 216px;
  height: 395px;
}

.spritesheet.escolaf_arvore_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4492px -2753px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolaf_acessib_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -2909px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolad_teatro_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4180px -2909px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolad_salateatro {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -1271px;
  width: 302px;
  height: 220px;
}

.spritesheet.escolad_salamusica {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4245px -647px;
  width: 306px;
  height: 220px;
}

.spritesheet.escolad_saladanca {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -1047px;
  width: 305px;
  height: 219px;
}

.spritesheet.escolad_quimica_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4336px -2909px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolad_musica_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4492px -2909px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolad_labinformatica {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4334px -1047px;
  width: 304px;
  height: 219px;
}

.spritesheet.escolad_labciencias {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4331px -1271px;
  width: 303px;
  height: 218px;
}

.spritesheet.escolad_info_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -3065px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolad_icon_teatro {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2253px -3468px;
  width: 120px;
  height: 114px;
}

.spritesheet.escolad_icon_musica {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4551px -3221px;
  width: 126px;
  height: 128px;
}

.spritesheet.escolad_icon_informatica {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3770px -2459px;
  width: 185px;
  height: 105px;
}

.spritesheet.escolad_icon_danca {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3603px -2742px;
  width: 157px;
  height: 109px;
}

.spritesheet.escolad_icon_ciencias {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4687px -482px;
  width: 83px;
  height: 150px;
}

.spritesheet.escolad_icon_cantina {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2919px -3276px;
  width: 149px;
  height: 91px;
}

.spritesheet.escolad_icon_biblioteca {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3073px -3276px;
  width: 144px;
  height: 86px;
}

.spritesheet.escolad_escoladentro {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -1557px -2188px;
  width: 1083px;
  height: 801px;
}

.spritesheet.escolad_danca_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4180px -3065px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolad_cantina_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4336px -3065px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolad_cantina {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4333px -1496px;
  width: 303px;
  height: 217px;
}

.spritesheet.escolad_bt_teatro_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -1992px -3468px;
  width: 129px;
  height: 130px;
}

.spritesheet.escolad_bt_teatro_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3888px -2593px;
  width: 130px;
  height: 130px;
}

.spritesheet.escolad_bt_teatro_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -1722px -3468px;
  width: 130px;
  height: 130px;
}

.spritesheet.escolad_bt_teatro {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -1857px -3468px;
  width: 130px;
  height: 130px;
}

.spritesheet.escolad_bt_quimica_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -480px -4033px;
  width: 98px;
  height: 149px;
}

.spritesheet.escolad_bt_quimica_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -583px -4033px;
  width: 98px;
  height: 149px;
}

.spritesheet.escolad_bt_quimica_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -686px -4033px;
  width: 98px;
  height: 149px;
}

.spritesheet.escolad_bt_quimica {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -789px -4033px;
  width: 98px;
  height: 149px;
}

.spritesheet.escolad_bt_musica_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3824px -3061px;
  width: 140px;
  height: 137px;
}

.spritesheet.escolad_bt_musica_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2163px -3276px;
  width: 140px;
  height: 137px;
}

.spritesheet.escolad_bt_musica_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2308px -3276px;
  width: 140px;
  height: 137px;
}

.spritesheet.escolad_bt_musica {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2453px -3276px;
  width: 140px;
  height: 137px;
}

.spritesheet.escolad_bt_livros_menos_1 {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3453px -2856px;
  width: 148px;
  height: 116px;
}

.spritesheet.escolad_bt_livros_check_1 {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3300px -2856px;
  width: 148px;
  height: 117px;
}

.spritesheet.escolad_bt_livros_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3606px -2856px;
  width: 148px;
  height: 116px;
}

.spritesheet.escolad_bt_livros_1 {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3759px -2856px;
  width: 148px;
  height: 116px;
}

.spritesheet.escolad_bt_informatica_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4452px -2007px;
  width: 199px;
  height: 125px;
}

.spritesheet.escolad_bt_informatica_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4335px -1718px;
  width: 200px;
  height: 126px;
}

.spritesheet.escolad_bt_informatica_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4470px -1860px;
  width: 200px;
  height: 126px;
}

.spritesheet.escolad_bt_informatica {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4247px -2007px;
  width: 200px;
  height: 126px;
}

.spritesheet.escolad_bt_danca_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3603px -2325px;
  width: 162px;
  height: 129px;
}

.spritesheet.escolad_bt_danca_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3776px -2188px;
  width: 162px;
  height: 130px;
}

.spritesheet.escolad_bt_danca_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3770px -2325px;
  width: 162px;
  height: 129px;
}

.spritesheet.escolad_bt_danca {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3603px -2459px;
  width: 162px;
  height: 129px;
}

.spritesheet.escolad_bt_cantina_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2645px -2856px;
  width: 158px;
  height: 119px;
}

.spritesheet.escolad_bt_cantina_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2808px -2856px;
  width: 159px;
  height: 118px;
}

.spritesheet.escolad_bt_cantina_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2972px -2856px;
  width: 159px;
  height: 118px;
}

.spritesheet.escolad_bt_cantina {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3136px -2856px;
  width: 159px;
  height: 118px;
}

.spritesheet.escolad_biblioteca_save {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4492px -3065px;
  width: 151px;
  height: 151px;
}

.spritesheet.escolad_biblioteca {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -1496px;
  width: 304px;
  height: 217px;
}

.spritesheet.cenarioescola_fora {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2098px -0px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.cenarioescola_dentro {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -0px -1102px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.caixafeedback {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -0px -2188px;
  width: 1552px;
  height: 868px;
}

.spritesheet.bt_subtract {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4687px -637px;
  width: 53px;
  height: 53px;
}

.spritesheet.bt_quadro_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4449px -421px;
  width: 218px;
  height: 143px;
}

.spritesheet.bt_quadro_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -1860px;
  width: 218px;
  height: 142px;
}

.spritesheet.bt_quadro_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4247px -1860px;
  width: 218px;
  height: 141px;
}

.spritesheet.bt_quadro {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -2007px;
  width: 218px;
  height: 141px;
}

.spritesheet.bt_lixo_menos_1 {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3603px -2593px;
  width: 137px;
  height: 144px;
}

.spritesheet.bt_lixo_check_1 {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3745px -2593px;
  width: 138px;
  height: 142px;
}

.spritesheet.bt_lixo_add_1 {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3538px -3061px;
  width: 138px;
  height: 142px;
}

.spritesheet.bt_lixo {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3681px -3061px;
  width: 138px;
  height: 142px;
}

.spritesheet.bt_livros_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4024px -3497px;
  width: 168px;
  height: 133px;
}

.spritesheet.bt_livros_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3603px -2188px;
  width: 168px;
  height: 132px;
}

.spritesheet.bt_livros_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4197px -3497px;
  width: 169px;
  height: 132px;
}

.spritesheet.bt_livros {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4371px -3497px;
  width: 169px;
  height: 132px;
}

.spritesheet.bt_lapis_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4687px -0px;
  width: 92px;
  height: 157px;
}

.spritesheet.bt_lapis_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4687px -162px;
  width: 92px;
  height: 157px;
}

.spritesheet.bt_lapis_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -0px -4503px;
  width: 93px;
  height: 156px;
}

.spritesheet.bt_lapis {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -98px -4503px;
  width: 93px;
  height: 156px;
}

.spritesheet.bt_lampada_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -0px -4188px;
  width: 100px;
  height: 153px;
}

.spritesheet.bt_lampada_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -0px -4346px;
  width: 100px;
  height: 152px;
}

.spritesheet.bt_lampada_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -105px -4188px;
  width: 101px;
  height: 151px;
}

.spritesheet.bt_lampada {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -211px -4188px;
  width: 101px;
  height: 151px;
}

.spritesheet.bt_globo_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -1084px -3468px;
  width: 121px;
  height: 149px;
}

.spritesheet.bt_globo_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -506px -3728px;
  width: 121px;
  height: 147px;
}

.spritesheet.bt_globo_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -0px -3728px;
  width: 122px;
  height: 147px;
}

.spritesheet.bt_globo {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -127px -3728px;
  width: 122px;
  height: 147px;
}

.spritesheet.bt_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4687px -695px;
  width: 53px;
  height: 53px;
}

.spritesheet.bt_carteira_menos {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3852px -1834px;
  width: 144px;
  height: 150px;
}

.spritesheet.bt_carteira_check {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3852px -1989px;
  width: 145px;
  height: 148px;
}

.spritesheet.bt_carteira_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3852px -1528px;
  width: 146px;
  height: 148px;
}

.spritesheet.bt_carteira {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -3852px -1681px;
  width: 146px;
  height: 148px;
}

.spritesheet.bt_add {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -4687px -753px;
  width: 53px;
  height: 53px;
}

.spritesheet.bg-cenario-sala {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -1926px -1102px;
  width: 1921px;
  height: 1081px;
}

.spritesheet.barradeitens {
  background-image: url('../../images/generated-sprites/spritesheet5.png');
  background-position: -2163px -3061px;
  width: 1370px;
  height: 210px;
}

